<div ng-controller="PasswordController">
<div class="container">

    <h2>{{ 'Change password' | translate }}</h2>
    <hr>
    <h2 ng-show="done">Success!</h2>
    <form class="form-horizontal" role="form" name="passwordForm" ng-show="!done" novalidate>

        <!-- Old Password -->
        <div class="form-group">
            <label class="control-label col-sm-2" for="password">{{ 'Old password' | translate }}</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="oldPassword" placeholder="{{ 'Password' | translate }}">
            </div>
        </div>

        <!-- New Password -->
        <div class="form-group">
            <label class="control-label col-sm-2" for="password">{{ 'New password' | translate }}</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="newPassword" placeholder="{{ 'New password' | translate }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="repeatPassword">{{ 'New password (again)' | translate }}</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="repeatNewPassword" placeholder="{{ 'New password (again)' | translate }}">
            </div>
        </div>
        <br>

        <!-- Submit -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" ng-disabled="passwordForm.$invalid" ng-click="submitForm()">{{ 'Change' | translate }}</button>
                <span class="label label-success" ng-show="submitted">Updating...</span>
            </div>
        </div>
    </form>

</div>
</div>
