<div class="container-fluid">
    <div class="row" ng-controller="AgreementFormTemplateController" ng-if="authenticated">

        <!--Side Bar-->
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active">
                    <a role="button" ng-href="/#/agreementformtemplate">Edit template</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div class="alert alert-danger" role="alert" ng-show="error.length" id="error">
                {{error|translate}}.
            </div>

            <h1>{{ 'Agreement form template' | translate }}</h1>
            <hr>

            <div>
                <div text-angular ng-model="template.contents" class="dntp-text-angular"></div>
                <br>
                <button ng-click="saveTemplate(template)" type="button" class="btn btn-primary">
                {{'Save' | translate}}
                </button>
                <button ng-click="printTemplate()" type="button" class="btn btn-success">
                {{'Print' | translate}}
                </button>
            </div>


        </div>
    </div>

</div>

<div ng-if="!authenticated">
    <div class="alert alert-danger" role="alert">
        {{'Not logged in'|translate}}.
    </div>
</div>
