{
  "rules": {
    "no-console":0
  },
  "extends": "eslint:recommended",
  "plugins": [],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true,
    "jQuery":true,
    "_":true,
    "asmCrypto":true,
    "bootbox":true,
    "Promise": true
  }
}
