{
  "rules": {
    "no-console": 0
  },
  "extends": "eslint:recommended",
  "plugins": [],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jasmine": true,
    "node": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true,
    "jQuery": true,
    "$": true,
    "_": true,
    "Flow": true,
    "Promise": true
  }
}
