/node/
/test-output/
/upload/
/logs/
/node_modules/
/dist/
/.tmp/
/src/main/resources/static/bower_components/
/src/main/resources/static/messages/node_modules/
/build/
/classes/
/out/
/target/
/coverage/
/.idea/
/.gradle/
/.settings/
/.classpath
/.project
*.DS_Store
*.iml
*.ipr
*.iws
test-report.json
/doc/security-documentation/dntp-security.aux
/doc/security-documentation/dntp-security.bbl
/doc/security-documentation/dntp-security.blg
/doc/security-documentation/dntp-security.log
/doc/security-documentation/dntp-security.out
