<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavigationController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="#/">DNTP Portal</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

            <ul ng-if="authenticated" class="nav navbar-nav" >
                <li ng-show="isViewRequestsAllowed();" class="{{$route.current.templateUrl=='request/workflow.html' ? 'active': ''}}">
                    <a href="#/">{{'Requests'|translate}}</a>
                </li>
                <li ng-show="isViewUsersAllowed();" class="{{$route.current.templateUrl=='components/admin/users.html' ? 'active': ''}}">
                    <a href="#/users">{{'Users'|translate}}</a>
                </li>
                <li ng-show="isViewLabsAllowed();" class="{{$route.current.templateUrl=='components/admin/labs.html' ? 'active': ''}}">
                    <a href="#/labs">{{'Labs'|translate}}</a>
                </li>
                <li ng-show="isViewOwnLabAllowed();" class="{{$route.current.templateUrl=='components/admin/labs.html' ? 'active': ''}}">
                    <a href="#/my-lab">{{'My Lab'|translate}}</a>
                </li>
            </ul>

            <ul ng-if="!authenticated" class="nav navbar-nav navbar-right">
                <li><a href="" ng-click="login()"><span class="glyphicon glyphicon-log-in"></span>
                    {{'login'|translate}}
                </a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <label class="navbar-text dropdown-toggle" role="button" data-toggle="dropdown">
                        {{ 'Language' | translate }}: {{currentLanguage}}
                    </label>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="changeLanguage('en')"  ng-disabled="{{currentLanguage=='en'}}">
                            {{ 'English' | translate }} (en)
                        </a></li>
                        <li><a ng-click="changeLanguage('nl')"  ng-disabled="{{currentLanguage=='nl'}}">
                            {{ 'Dutch' | translate }} (nl)
                        </a></li>
                    </ul>
                </li>
                <li ng-show="authenticated"   class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{globals.currentUser.username}}</a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="#/profile">{{ 'Update profile' | translate }}</a></li>
                        <li><a href="#/profile/password">{{ 'Change password' | translate }}</a></li>
                        <li>
                            <a href="" ng-click="logout()">
                                <span class="glyphicon glyphicon-log-out"></span> {{'logout'|translate}}
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a role="button">{{'About' | translate}}</a>
                </li>
            </ul>
            &nbsp;
        </div>
    </div>
</nav>

