<div class="container-fluid">
    <div class="row">



        <!--Side Bar-->
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#/">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="#/">Sub Menu #1</a></li>
                <li><a href="#/">Sub Menu #2</a></li>
                <li><a href="#/">Sub Menu #3</a></li>
            </ul>
        </div>

        <!--Main Content-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="RequestController">

            <h1>{{ 'Requests' | translate }}</h1>

            <hr>

            <div ng-show="!authenticated">
                <div class="alert alert-danger" role="alert">
                    {{ 'Not logged in' | translate }}
                </div>
            </div>

            <!--Tool bar-->
            <ul class="nav nav-pills">
                <li role="presentation" title="Create a new request">
                    <a href="#/" ng-click="start()">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create New Request
                    </a>
                </li>
            </ul>

            <!--List of request-->
            <div class="table-responsive" ng-if="authenticated">
                <table st-table="displayedCollection" st-safe-src="requests" class="table">
                    <thead>
                    <tr>
                        <th st-sort="title">Title</th>
                        <th st-sort="status">Status</th>
                        <th st-sort="getters.dateCreated">Date created</th>
                        <th st-sort="requesterName">Requester</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="request in displayedCollection" id="request_{{request.id}}">
                        <td>{{request.title}}</td>
                        <td>{{request.status}}</td>
                        <td>{{request.dateCreated | date: 'EEE dd MMMM yyyy'}}</td>
                        <td>{{request.requesterName}}</td>
			            <td>
			            <span class="pull-right">
			            <span class="btn-group">
                            <button
                                 class="btn btn-default" type="button" title="Details" ng-click="view(request)">
                                {{'Details'|translate}}
                            </button>
			                <button
			                     ng-disabled="request.status != 'Open' && roles.indexOf('palga') != -1" 
			                     class="btn btn-default" type="button" title="Edit" ng-click="edit(request)">
			                    {{'Edit'|translate}}
			                </button>
			            </span>
			            </span>            
			            </td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7" class="text-center">
                                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <!--=====================================================-->
            <!--TODO: To reuse table just change the result instance -->
            <!--=====================================================-->


        </div> <!--end Main Content-->

    </div>
</div>
