<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<form class="form-horizontal" role="form" name="registrationForm" ng-submit="update(edituser)" novalidate>
<div class="modal-header">
    <h3 class="modal-title">Edit user</h3>
</div>
<div class="modal-body">
     <p><em>User name:</em></p>
     <label>{{edituser.username}}</label>
     <p><em>Contact info:</em></p>
     <address>
     {{edituser.contactData.address1}}<br/>
     {{edituser.contactData.address2}}<br/>
     {{edituser.contactData.postalCode}}
     {{edituser.contactData.city}}<br/>
     {{edituser.contactData.country}}<br/>
     {{edituser.contactData.email}}<br/>
     {{edituser.contactData.telephone}}
     </address>

        <input type="hidden" ng-model="edituser.contactData.id"/>

        <!-- First Name -->
        <div class="form-group" ng-class="{ 'has-error' : (registrationForm.firstName.$invalid || registrationForm.firstName.$error.required) && registrationForm.firstName.$dirty }">
            <label class="control-label col-sm-4" for="firstName">{{ 'First name' | translate }}</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="{{ 'First name' | translate }}"
                       ng-model="edituser.firstName" ng-maxlength="50" required>
                <!-- errors -->
                <span class="help-block" ng-show="registrationForm.firstName.$error.required && registrationForm.firstName.$dirty">{{ 'Required field' | translate }}</span>
                <span class="help-block" ng-show="registrationForm.firstName.$error.maxlength">{{ 'Input value is too long' | translate }}</span>
            </div>
        </div>

        <!-- Last Name -->
        <div class="form-group">
            <label class="control-label col-sm-4" for="lastName">{{ 'Last name' | translate }}</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="lastName" placeholder="{{ 'Last name' | translate }}"
                ng-model="edituser.lastName" >
            </div>
        </div>

        <!-- E-mail -->
        <div class="form-group">
            <label class="control-label col-sm-4" for="email">{{ 'E-mail' | translate }}</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="email" placeholder="{{ 'E-mail' | translate }}"
                ng-model="edituser.contactData.email" >
            </div>
        </div>

        <!-- Telephone -->
        <div class="form-group">
            <label class="control-label col-sm-4" for="telephone">{{ 'Telephone' | translate }}</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="telephone" placeholder="{{ 'Telephone' | translate }}"
                ng-model="edituser.contactData.telephone" >
            </div>
        </div>

        <!-- Institute -->
        <div class="form-group" ng-if="edituser.currentRole == 'requester'">
            <label class="control-label col-sm-4" for="institute">{{ 'Institute' | translate }}</label>
            <div class="col-sm-6">
                <select ng-model="edituser.instituteId">
                    <option value="-1">None</option>
                    <option ng-repeat="institute in institutes" value="{{institute.id}}">{{institute.name}}</option>
                </select>
            </div>
        </div>
        
        <!-- Lab -->
        <div class="form-group" ng-if="edituser.currentRole == 'labuser'">
            <label class="control-label col-sm-4" for="lab">{{ 'Institution' | translate }}</label>
            <div class="col-sm-6">
                <select ng-model="edituser.labId">
                    <option value="-1">None</option>
                    <option ng-repeat="lab in labs" value="{{lab.id}}">{{lab.name}}</option>
                </select>
            </div>
        </div>
        

        <!-- Specialism -->
        <div class="form-group">
            <label class="control-label col-sm-4" for="specialism">{{ 'Specialism' | translate }}</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="specialism" placeholder="{{ 'Specialism' | translate }}">
            </div>
        </div>

        <!-- Pathology Dept. Member -->
        <div class="form-group">
            <label class="control-label col-sm-4" for="isPathologyLabMember">
                &nbsp;
            </label>
            <div class="col-sm-6">
                <input type="checkbox" id="isPathologyLabMember"> &nbsp; {{ 'I am member of pathology department' | translate }}
            </div>
        </div>
        <br>
</div>
<div class="modal-footer">
    <button class="btn btn-info" type="submit">{{'Save'|translate}}</button>
    <button class="btn btn-default" ng-click="$hide()">{{'Cancel'|translate}}</button>
</div>
</form>
</div>
</div>
</div>