<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<form class="form-horizontal" role="form" name="instituteEditForm" ng-submit="update(editinstitute)" novalidate>
<div class="modal-header">
    <h3 class="modal-title">Edit institute</h3>
</div>
<div class="modal-body">

        <input type="hidden" ng-model="editinstitute.contactData.id"/>

        <!-- Name -->
        <div class="form-group" ng-class="{ 'has-error' : (registrationForm.instituteName.$invalid || registrationForm.instituteName.$error.required) && registrationForm.instituteName.$dirty }">
            <instituteel class="control-instituteel col-sm-4" for="instituteName">{{ 'Name' | translate }}</instituteel>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="instituteName" name="instituteName" placeholder="{{ 'Name' | translate }}"
                       ng-model="editinstitute.name" ng-maxlength="50" required>
                <!-- errors -->
                <span class="help-block" ng-show="registrationForm.instituteName.$error.required && registrationForm.instituteName.$dirty">{{ 'Required field' | translate }}</span>
                <span class="help-block" ng-show="registrationForm.instituteName.$error.maxlength">{{ 'Input value is too long' | translate }}</span>
            </div>
        </div>

        <!-- Address -->
        <div class="form-group">
            <instituteel class="control-instituteel col-sm-4" for="address">{{ 'Address' | translate }}</instituteel>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="address1" placeholder="{{ 'Address' | translate }}"
                ng-model="editinstitute.contactData.address1" >
                <input type="text" class="form-control" id="address2"
                ng-model="editinstitute.contactData.address2" >
            </div>
        </div>

        <!-- Postal code -->
        <div class="form-group">
            <instituteel class="control-instituteel col-sm-4" for="postalcode">{{ 'Postal code' | translate }}, {{ 'City' | translate }}</instituteel>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="postalcode" placeholder="{{ 'Postal code' | translate }}"
                ng-model="editinstitute.contactData.postalCode" >
                <input type="text" class="form-control" id="city" placeholder="{{ 'City' | translate }}"
                ng-model="editinstitute.contactData.city" >
            </div>
        </div>

        <!-- State / Province -->
        <div class="form-group">
            <instituteel class="control-instituteel col-sm-4" for="stateProvince">{{ 'Province' | translate }}</instituteel>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="stateProvince" placeholder="{{ 'Province' | translate }}"
                ng-model="editinstitute.contactData.stateProvince" >
            </div>
        </div>

        <!-- E-mail -->
        <div class="form-group">
            <instituteel class="control-instituteel col-sm-4" for="email">{{ 'E-mail' | translate }}</instituteel>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="email" placeholder="{{ 'E-mail' | translate }}"
                ng-model="editinstitute.contactData.email" >
            </div>
        </div>

        <!-- Telephone -->
        <div class="form-group">
            <instituteel class="control-instituteel col-sm-4" for="telephone">{{ 'Telephone' | translate }}</instituteel>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="telephone" placeholder="{{ 'Telephone' | translate }}"
                ng-model="editinstitute.contactData.telephone" >
            </div>
        </div>

</div>
<div class="modal-footer">
    <button class="btn btn-info" type="submit">{{'Save'|translate}}</button>
    <button class="btn btn-default" ng-click="$hide()">{{'Cancel'|translate}}</button>
</div>
</form>
</div>
</div>
</div>