<div class="page-header">
    <h2>{{'Institutions'|translate}}</h2>
</div>
<div ng-show="!authenticated">
<div class="alert alert-danger" role="alert">
    {{'Not logged in'|translate}}.
</div>
</div>

<div ng-if="authenticated">

<div ng-controller="InstitutionController" class="container">

	<div class="alert alert-danger" role="alert" ng-show="error.length" id="error">
	    {{error|translate}}.
	</div>

<div ng-hide="error">

    <form class="form-horizontal" role="form" ng-submit="add(institution)">
    
    <div class="input-group">
        <input ng-model="institution.name" />
        <span class="input-group-btn pull-right">
            <button class="btn btn-info" type="submit" title="Add institution">
                <span class="glyphicon glyphicon-plus"></span> add institution
            </button>
        </span>
    </div>

    </form>

    <p></p>

    <div class="alert alert-info" role="alert" ng-hide="institutions.length">
        There are no institutions yet.
    </div>

    <ul class="list-group">
    <li class="list-group-item {{visibility[institution.id] ? 'list-group-item-info' : ''}}" ng-repeat="institution in institutions" id="institution_{{institution.id}}">
        <h4 class="list-group-item-heading" ng-click="toggleVisibility(institution)">
            <label>Institution {{institution.id}}: {{institution.name}}</label>
        </h4>
        <p ng-show="visibility[institution.id]" ng-if="institution.contactData">
            Contact info:
            <address>
            {{institution.contactData.address1}}<br/>
            {{institution.contactData.address2}}<br/>
            {{institution.contactData.postalCode}}
            {{institution.contactData.city}}<br/>
            {{institution.contactData.country}}<br/>
            {{institution.contactData.email}}<br/>
            {{institution.contactData.telephone}}
            </address>
        </p>
      </li>
    </ul>
    
</div>    
    
</div>
    
    
</div>