<div ng-controller="ForgotPasswordController">
<div class="container">

    <h2>{{ 'Reset password' | translate }}</h2>
    <hr>
    <div class="alert alert-success" id="success" ng-show="done">
        {{ 'An email has been sent to' | translate }} {{ email }} {{ 'with instructions on how to reset your password' | translate }}
    </div>
    <div class="alert alert-danger" ng-show="error">
        Error:
        <pre>{{ error | translate }}</pre>
    </div>
    <form class="form-horizontal" role="form" name="passwordForm" ng-show="!done" novalidate>

        <!-- Email -->
        <div class="form-group">
            <label class="control-label col-sm-2" for="password">{{ 'Email' | translate }}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="email" name="email" ng-model="email" placeholder="{{ 'Email' | translate }}" required>
            </div>
        </div>

        <!-- Submit -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="submit-forgot-password" type="submit" class="btn btn-primary" ng-click="submitForm()">{{ 'Send email' | translate }}</button>
                <span class="label label-success" ng-show="submitted && !error">{{ 'Loading' | translate }}...</span>
            </div>
        </div>
    </form>

</div>
</div>
