<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css" />
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
        
    <style type="text/css">
		[ng\:cloak], [ng-cloak], .ng-cloak {
		  display: none !important;
		}
    </style>
  </head>
  <body ng-app="ProcessApp"> <!-- flow-prevent-drop -->
	<div ng-controller="NavigationController" class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#/"  style="padding-top: 3px; margin-bottom: 0;"> 
					   <img alt="The Hyve" src="/images/thehyve_green.png">
					</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="{{$route.current.templateUrl=='workflow.html' ? 'active': ''}}">
					   <a href="#/">workflow</a>
					</li>
					<li ng-show="authenticated" class="{{$route.current.templateUrl=='admin.html' ? 'active': ''}}">
					   <a href="#/admin">admin</a>
					   </li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				    <li class="dropdown">
				        <a href="#/" class="dropdown-toggle" role="button" data-toggle="dropdown">
				            {{ 'Language' | translate }}: {{currentLanguage}}
				        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="" ng-click="changeLanguage('en')"  ng-disabled="{{currentLanguage=='en'}}">
                                {{ 'English' | translate }} (en)
                            </a></li>
                            <li><a href="" ng-click="changeLanguage('nl')"  ng-disabled="{{currentLanguage=='nl'}}">
                                {{ 'Dutch' | translate }} (nl)
                            </a></li>
                        </ul>
				    </li>
                    <li ng-show="!authenticated" class="{{$route.current.templateUrl=='login.html' ? 'active': ''}}">
                       <a href="#/login"><span
                            class="glyphicon glyphicon-log-in"></span> login</a>
                    </li>
                    <li ng-show="authenticated"   class="navbar-text"><span
                            class="glyphicon glyphicon-user"></span> {{username}}</li>
                    <li ng-show="authenticated"><a href="" ng-click="logout()"><span
                            class="glyphicon glyphicon-log-out"></span> logout</a></li>
					<li class="dropdown">
					   <a href="#/" class="dropdown-toggle" role="button" data-toggle="dropdown">
					       <span class="glyphicon glyphicon-menu-hamburger"></span> 
					   </a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="" ng-click="changeLanguage('en')">{{ 'English' | translate }}</a></li>
							<li><a href="" ng-click="changeLanguage('nl')">{{ 'Dutch' | translate }}</a></li>
						</ul>
				    </li>
				</ul>
			</div>
		</nav>
	</div>
	<div ng-view class="container"></div>
    <script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./bower_components/bootstrap/dist/bootstrap.min.js"></script>
    <script type="text/javascript" src="./bower_components/bootstrap/js/dropdown.js"></script>
    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="./bower_components/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="./bower_components/ng-flow/dist/ng-flow-standalone.min.js"></script>
    <script type="text/javascript" src="./messages/messages_en.js"></script>
    <script type="text/javascript" src="./messages/messages_nl.js"></script>
    <script type="text/javascript" src="./bower_components/angular-translate/angular-translate.min.js"></script>
    <script type="text/javascript" src="./app/processapp.js"></script>
    <script type="text/javascript" src="./app/navigationcontroller.js"></script>
    <script type="text/javascript" src="./app/processservices.js"></script>
    <script type="text/javascript" src="./app/processcontrollers.js"></script>
    <script type="text/javascript" src="./app/adminservices.js"></script>
    <script type="text/javascript" src="./app/admincontrollers.js"></script>
    <script type="text/javascript" src="./app/components/registration/RegistrationController.js"></script>

  </body>
</html>
