.container { padding-top: 10px; margin-bottom: 30px;}
.solid-footer { background-color: #f5f5f5; padding-top: 10px;}

/** **/
.nav-pills { padding-bottom: 1%}
.controls.readonly { padding-top: 7px; }

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 40px;
}
@media print {
    html {
        padding: 0;
    }
    body {
        margin: 0;
        padding: 0;
    }
}
h1, h2, h3 { color: steelblue; }
h3 { color: #949494; }

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: block;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        margin-bottom: 40px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: aliceblue;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media screen and (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
        margin-top: 10px;
        margin-bottom: 40px;
    }
}
@media print {
    .main {
        padding: 0;
        margin: 0;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/*Modal background opacity*/

.modal-backdrop {
    position:absolute !important;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity: 0.6;
}

.modal-content {
    background-color: #f5f5f5;
}

.modal-body {
    background-color: #FFFFFF;
}


.smart-table-selected {
    background-color: #c8e5bc;
}
.smart-table-not-selected {
    background-color: #ffffff;
}

label.normal {
    font-weight: normal !important;
}

address {margin-bottom: 0px;}

.print-only {
    display: none;
}

.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

.row p {
	word-wrap: break-word;
}

#editCommentText {margin-bottom: 5px;}

/*
* Alert box from angular-strap
*/
.top-right { position: fixed; right: 5px; margin-right: 10px; top: 55px; }
.alert.top {
    position: fixed;
    right: 5px;
    left: 5px;
    margin-right: auto;
    margin-left: auto;
    top: 15px;
    max-width: 25em;
}
.alert .close { padding-left: 15px; }
.alert span { display: block; }
.alert { z-index: 10000; }

.agreement-form {
    display: table;
    min-width: 40em;
    margin: auto;
    padding: 2em;
}
@media print {
    .agreement-form {
        display: block;
        padding: 0;
        margin: 0;
    }
}
@media screen{
    .template-window {
        display: block;
        min-width: 40em;
        max-width: 45%;
        margin: 1em;
        float: left;
    }
    .template-preview {
        padding: 2em;
        border: 1px solid #bbb;
        box-shadow: 2px 2px 2px #bbb;
    }
}

.dntp-text-angular {font-family:  Arial, sans-serif;}
.dntp-text-angular h1, .dntp-text-angular h2, .dntp-text-angular h3, .dntp-text-angular h4 { color: black !important;}
.dntp-text-angular .ta-toolbar { padding-bottom: 10px;}
.dntp-text-angular .ta-toolbar .btn-group { padding-bottom: 5px;}

@media print {
    .sidebar, .form-control, .btn, .no-print, .nav, .solid-footer {
        display: none !important;
    }
    .badge {
        padding: 2px 6px;
        border: 1px solid #000;
    }
}

.logocell {
    min-height: 6em;
    display: flex;
    align-items: center;
}
.logo {
    display: inline-block;
    margin: 0 auto;
}
.bigskip {
    margin-top: 10em;
}
.medskip {
    margin-top: 3em;
}

.centertext {
    text-align: center;
}

.developedby {
    font-size: .9em;
    color: #777;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}
