.container { padding-top: 10px; margin-bottom: 30px;}
.solid-footer { background-color: #f5f5f5; padding-top: 10px;}

/** **/
.nav-pills { padding-bottom: 1%}
.controls.readonly { padding-top: 7px; }

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 40px;
}

h1, h2, h3 { color: steelblue; }
h3 { color: #949494; }

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: block;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        margin-bottom: 40px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: aliceblue;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
        margin-top: 10px;
        margin-bottom: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/*Modal background opacity*/

.modal-backdrop {
    position:absolute !important;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity: 0.6;
}

.modal-content {
    background-color: #f5f5f5;
}

.modal-body {
    background-color: #FFFFFF;
}


.smart-table-selected {
    background-color: #c8e5bc;
}
.smart-table-not-selected {
    background-color: #ffffff;
}

label.normal {
    font-weight: normal !important;
}

address {margin-bottom: 0px;}

.print-only {
    display: none;
}

.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

.row p {
	word-wrap: break-word;
}

#editCommentText {margin-bottom: 5px;}

/*
* Alert box from angular-strap
*/
.top-right { position: fixed; right: 5px; margin-right: 10px; top: 55px; }
.alert .close { padding-left: 15px; }
.alert span { display: block; }
.alert { z-index: 10000; }

.template-preview {
    padding: 2em;
    border: 1px solid #bbb;
    box-shadow: 2px 2px 2px #bbb;
}
.markdown-input, .markdown-output {float: left; width: 48%; padding-right: 10px}
.markdown-textarea {max-height:1000px;min-height: 500px; background-color: antiquewhite; font-family: courier, monospace}
.markdown-body {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    min-width: 200px;
    margin: 0 auto;
    padding: 30px;
    border: 1px dashed #999 ;
}
.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4 { color: black !important;}
.h3-info {color: steelblue}

/* The declarations for print output */

@media print {

    /* Reset quotes */
    q {
        quotes: none
    }

    q:before, q:after {
        content: ""
    }

    /* Hide everything unneeded */
    header h1, header nav, footer, img {
        display: none
    }

    /* font sizes */
    body {

        font: 12pt Georgia, "Times New Roman", Times, serif;

        line-height: 1.3;

    }

}
