.container { padding-top: 10px; margin-bottom: 30px;}
.login-container, .forgot-password-container,  .registration-container {
    padding-top: 180px;
    position: relative;
    z-index: 1;
}
.registration-container {margin-bottom: 150px;}
.solid-footer, .solid-footer-login { background-color: #b4effc; padding-top: 10px; }
.solid-footer-login {padding-bottom: 10px;}
.navbar-fixed-top .container-fluid { padding-left: 0}
.navbar-login {
    height: 302px;
    background-image: url(../images/login-bg-loop.jpg);
    z-index: 0;
}
.navbar-login-menu{text-align: right; padding: 15px;}
.navbar-header {margin-left: 2px !important; background-color: #0074D9}
.navbar-default {background-color: #b4effc;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover
{
    background-color: #76dcf3;
}
#nav_login {margin-right: 15px;}
.badge { background-color: #00285f; }

/** **/
.nav-pills { padding-bottom: 1%}
.controls.readonly { padding-top: 7px; }

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 1.3em;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
@media print {
    html {
        padding: 0;
    }
    body {
        margin: 0;
        padding: 0;
    }
}
h1, h2, h3 { color: #002454; }
h3 { color: #949494; }
h1, .h1 {
    margin: 5px 0px 15px;
    font-size: 2.5em;
}
h2, .h2 {font-size: 2.2em;}
h2, .h2, h3, .h3, h4, .h4 {
    margin: 20px 0px 5px;
}
.row {
    min-height: 1.5em;
    margin-right: 0;
    margin-left: 0;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: block;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        margin-bottom: 36px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: aliceblue;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media screen and (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
        margin-top: 10px;
        margin-bottom: 40px;
    }
}
@media print {
    .main {
        padding: 0;
        margin: 0;
    }
}
.main .page-header {
    margin-top: 0;
}
.form-control {font-size: inherit;}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}


/*Modal background opacity*/

.modal-backdrop {
    position:absolute !important;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity: 0.6;
}

.modal-content {
    background-color: #f5f5f5;
}

.modal-body {
    background-color: #FFFFFF;
}


.smart-table-selected {
    background-color: #e8f7cd; /*#c8e5bc;*/
}
.smart-table-not-selected {
    background-color: #ffffff;
}
.smart-table-tool-col {
    width: 9em;
}

.sortable {
    cursor: pointer;
}
.sortable:after {
    content: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIUnC2nKLnT4or00PvyrQwrPzUZshQAOw==);
    padding-left: 1em;
}
.st-sort-ascent:after {
    content: '\25B2';
    color: green;
}
.st-sort-descent:after {
    content: '\25BC';
    color: red;
}
.st-sort-ascent:before {
    content: '\a0';
}
.st-sort-descent:before {
    content: '\a0';
}

label.normal {
    font-weight: normal !important;
}

address {margin-bottom: 0px;}

@media screen {
    .print-only {
        display: none;
    }
}

.row p {
	word-wrap: break-word;
}

#editCommentText {margin-bottom: 5px;}

/*
* Alert box from angular-strap
*/
.top-right {
    position: fixed;
    right: 5px;
    margin-right: 10px;
    top: 55px;
    min-width: 20em;
}
.alert.top {
    position: fixed;
    right: 5px;
    left: 5px;
    margin-right: auto;
    margin-left: auto;
    top: 15px;
    max-width: 25em;
}
.alert .close { padding-left: 15px; }
.alert span { display: block; }
.alert { z-index: 10000; }

.agreement-form {
    display: table;
    min-width: 40em;
    margin: auto;
    padding: 2em;
}
@media print {
    .agreement-form {
        display: block;
        padding: 0;
        margin: 0;
    }
}
@media screen{
    .template-window {
        display: block;
        min-width: 40em;
        max-width: 45%;
        margin: 1em;
        float: left;
    }
    .template-preview {
        padding: 2em;
        border: 1px solid #bbb;
        box-shadow: 2px 2px 2px #bbb;
    }
}

.dntp-text-angular {font-family:  Arial, sans-serif;}
.dntp-text-angular h1, .dntp-text-angular h2, .dntp-text-angular h3, .dntp-text-angular h4 { color: black !important;}
.dntp-text-angular .ta-toolbar { padding-bottom: 10px;}
.dntp-text-angular .ta-toolbar .btn-group { padding-bottom: 5px;}

@media print {
    .sidebar, .form-control, .btn, .no-print, .nav, .solid-footer {
        display: none !important;
    }
    .badge {
        padding: 2px 6px;
        border: 1px solid #000;
    }
}

.logocell {
    min-height: 6em;
    display: flex;
    align-items: center;
}
.logo {
    padding-left: 3em;
}
.logo-header {
    text-align: right;
    padding-top: 20px;
}
.bigskip {
    margin-top: 10em;
}
.medskip {
    margin-top: 3em;
}

.centertext {
    text-align: center;
}

.numeric, .table td.numeric, .table th.numeric {
    text-align: right;
    padding-right: 2em;
}

.center-block {
    text-align: center;
}

.developedby {
    font-size: .9em;
    color: #777;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.multiSelect > button {
    font-size: .9em;
    text-align: left;
}

.checkBoxContainer {
    font-size: .9em;
}

.help-block, .navbar-fixed-bottom {
    font-size: .85em;
    color: indianred;
}

.h4, .h3 {
    font-weight: 200;
    color: #555753;
    background-color: aliceblue;
    padding: 7px;
}

.h4-palga, .h3-palga {background-color: #f9ebda}

.second-input-text {
    margin-top: .2em;
}

.dntp-disabled-color {color: grey;}
.dntp-success-color {color: green;}
.dntp-error-color {color: indianred;}

.row-disabled td:not(.dntp-tool-column) { opacity: 0.5; }

.activate-button:hover {
    color: green;
}

.deactivate-button:hover {
    color: red;
}

.radio-label {
    vertical-align: top;
    width: 90%;
}

.popover-content h3, .popover-content {font-size: .9em}
.tab-list > .nav-tabs > li a {
    font-size: 120%;
    font-weight: 500;
}

.to-right {
    margin-left: 2em;
}

.ok {
    color: green;
}

input.request-selection {
    height: 18px;
    margin: 2px 0 0;
}

.span-lang {margin-top: 12px; margin-left: 5px;}
.span-login {margin-left: 20px;}
.login-title-div {min-height: 300px; position: relative;}
.floating-title {margin-bottom: 2em;}
.login-icon {
    width: 110px;
    height: 110px;
    background-color: #00285f;
    margin: 0px auto;
    border-radius: 50%;
    text-align: center;
}
.login-icon-div {
    text-align: center;
}
.login-icon span {
    font-size: 3.5em;
    color: #009ee0;
    margin-top: 32px;
}
.login-icon span:hover {
    color: #FFF;
}
.login-button-group {margin-top: 2em}
.print-pa-id-col { width: 10em; }
.print-palga-no-col { width: 8em; }
.print-pa-no-col { width: 10em; }
.print-pa-samples-col { /* min-width: 65%; */ }
.print-pa-total-col { width: 5em; }
