/* Print Preview Stylings */

body, table {
    font-family: arial, sans-serif;
    font-size: 10pt;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    clear: left;
    page-break-inside: avoid;
}
h2, .h2, h3, .h3, h4, .h4 {
    margin: 20px 0px 5px;
}
h1, .h1 {
    font-size: 16pt;
    margin: 5px 0px 15px;
}
h2, .h2 {
    font-size: 14pt;
}
h3, .h3 {
    font-size: 12pt;
}
h4, .h4 {
    font-size: 11pt;
    font-style: oblique;
}

a {
   text-decoration: none;
   color: #000;
}

hr {
    margin: 10px 0;
}

th,
td {
    padding: 4px 4px 4px 4px ;
}

th {
    border-bottom: 2px solid #333333 ;
}

td {
    border-bottom: 1px dotted #999999 ;
}

tfoot td {
    border-bottom-width: 0px ;
    border-top: 2px solid #333333 ;
    padding-top: 20px ;
}

.no-print,
.nav,
input[type='text'] {
    display: none !important;
}
.table th, td { text-align: left; }
.table { width: 100% }
.print-pa-id-col { min-width: 5em; }
.print-pa-no-col { min-width: 10em; }
.print-pa-samples-col { /* min-width: 65%; */ }
.print-pa-total-col { min-width: 5em; }

ul li { display: inline; }
.remove-button {display: none; }

.form-group label {
    height: 30px;
    width: 200px;
    margin-left: 10px;
    text-align: right;
    margin-right: 15px;
    float: left;
    font-weight: bold;
    display: block;
}

.col-md-10 {
    height: 30px;
    margin-top: 0px;
    display: inline-table;
    float: left;
}

.form-group{
    clear: left;
}

.print-pa-availability {display: block }

address {
    font-style: normal;
}
.address {
    margin-bottom: 10pt;
}

.list-group-item {
   display: list-item;
   margin-left: 1em;
}

.comments .list-group-item, .files .list-group-item {
    border: 0;
    padding: 2pt 0;
}

hr.page-boundary {
    width: 80%;
    margin: 6em auto;
}

.printpage {
    margin: 0 auto;
    page-break-after: always;
    max-width: 80em;
}
@media print {
    .printpage {
        max-width: none;
    }
}

#printheader {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    max-height: 10mm;
}
#printlogo {
    max-height: 10mm;
}

.row {
    clear: left;
    min-height: 1.5em;
    margin: 0;
    padding: 2pt 0;
}

.col-xs-2, .col-xs-4, .col-xs-6, .col-xs-8 {
    float: left;
    margin: 0;
}
.col-xs-2 {
    width: 20%;
}
.col-xs-4 {
    width: 40%;
}
.col-xs-6 {
    width: 60%;
}
.col-xs-8 {
    width: 80%;
}

.control-label {
    font-weight: bold;
}

html {
    margin: 0;
}
html.printhtml {
    margin-top: 10mm;
}
body {
    margin: 2em;
}
@media print {
    body {
        margin: 0;
    }

    .print-preview-only {
        display: none !important;
    }
}
