<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="LoginController">
  <div class="modal-dialog modal-md">
    <div class="modal-content">

    <form class="form-horizontal" role="form" name="loginForm"
        novalidate
        ng-submit="login(true)"
        ng-keypress="cancelByEscKey($event);">

      <!--HEADER-->
      <div class="modal-header">
        <h3 class="modal-title">{{'Login' | translate}}</h3>
      </div>

      <!--BODY-->
      <div class="modal-body form-horizontal">

        <div class="row">
        <div class="col-sm-12">
        <div class="alert alert-danger" ng-show="error">
            {{'There is a problem logging in.' | translate}}
            {{errormessage | translate}}
        </div>

        <div class="alert alert-danger" ng-show="!error && errormessage">
            {{errormessage | translate}}
        </div>
        </div>
        </div>

        <div class="row">
        <div class="form-group">
            <label class="control-label col-sm-3" for="username">{{'Username' | translate}}:</label>
            <div class="col-sm-6">
            <input type="text" lowercase-only="lowercase-only" class="form-control"
                id="username" name="username" ng-model="credentials.username"
                ng-attr-placeholder="{{ 'Email address (lower case)' | translate }}"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="password">{{'Password' | translate}}:</label>
            <div class="col-sm-6">
            <input type="password" class="form-control" id="password" name="password" ng-model="credentials.password"/>
            </div>
        </div>
        </div>

      </div>

      <!--FOOTER-->
      <div class="modal-footer">
        <span class="pull-right">
        <button type="submit" class="btn btn-primary" ng-disabled="dataLoading">
            <span class="glyphicon glyphicon-user"></span> {{'Login' | translate}}
        </button>
        </span>
      </div>

    </form>
    </div>
  </div>
</div>
