<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form class="form-horizontal" role="form" name="labRequestEditForm" novalidate>

                <!--HEADER-->
                <div class="modal-header">
                    <h3 class="modal-title">{{'Lab request' | translate}}: {{labRequest.labRequestCode}}</h3>
                </div>

                <!--BODY-->
                <div class="modal-body form-horizontal">
                    <!-- Alert -->
                    <div ng-repeat="alert in alerts" class="alert alert-{{alert.type}}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                ng-click="closeAlert();">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{alert.msg | translate}}
                    </div>

                    <!--Status-->
                    <div class="form-group">
                        <label class="control-label col-sm-3">{{ 'Status' | translate }}</label>
                        <p class="col-sm-7 form-control-static">
                            {{labRequest.status | translate}}
                        </p>
                    </div>

                    <!--Rejected details-->
                    <div ng-if="labRequest.status == 'Rejected'">
                        <div class="form-group">
                            <label class="control-label col-sm-3">{{ 'Reject date' | translate }}</label>
                            <p class="col-sm-7 form-control-static">
                                {{labRequest.rejectDate | date}}
                            </p>
                        </div>
                        <div class="form-group" ng-if="isLabUser()">
                            <label class="control-label col-sm-3">{{ 'Reject reason' | translate }}</label>
                            <p class="col-sm-7 form-control-static">
                                {{labRequest.rejectReason}}
                                <br>
                                <br>

                                <a href={{getRejectEmail(labRequest)}}>
                                    <button class="btn btn-sm btn-default" type="button"
                                            title="{{'Compose rejection mail' | translate}}">
                                        <span><i class="glyphicon glyphicon-envelope"></i></span>
                                        {{'Compose rejection mail' | translate}}
                                    </button>
                                </a>
                            </p>
                        </div>
                    </div>

                    <!--Parent request details-->
                    <div class="form-group">
                        <label class="control-label col-sm-3">{{ 'Request title' | translate }}</label>
                        <p class="col-sm-7 form-control-static">
                            {{labRequest.request.title}}
                        </p>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">{{ 'Creation date' | translate }}</label>
                        <p class="col-sm-7 form-control-static">
                            {{labRequest.request.dateCreated | date }}
                        </p>
                    </div>

                    <div ng-if="isRequester()">
                        <!--Requester info-->
                        <!--Displayed only to users with non requester role-->
                        <div class="form-group">
                            <label class="control-label col-sm-3">{{ 'Requester name' | translate }}</label>
                            <p class="col-sm-7 form-control-static">
                                {{labRequest.requesterName}}
                            </p>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">{{ 'Email' | translate }}</label>
                            <p class="col-sm-7 form-control-static">
                                {{labRequest.requesterEmail}}
                            </p>
                        </div>
                    </div>

                    <div ng-if="!isLabUser()">
                        <!--Lab Info-->
                        <!--Displayed only to users with non lab user role-->
                        <div class="form-group">
                            <label class="control-label col-sm-3">{{ 'Lab' | translate }}</label>
                            <p class="col-sm-7 form-control-static">
                                {{'Lab' | translate}} {{labRequest.lab.number}} - {{labRequest.lab.name}}
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">{{ 'Contact' | translate }}</label>
                        <p class="col-sm-7 form-control-static">
                            {{labRequest.requesterEmail}}
                        </p>
                    </div>

                    <!-- PA reports -->
                    <div class="panel panel-default"
                         ng-if="
            isLabOrHubUserStatus(labRequest.status) &&
            labRequest.status != 'Waiting for lab approval' &&
            labRequest.status != 'Rejected' &&
            labRequest.request.paReportRequest">
                        <div class="panel-heading">
                            <h4>{{'PA reports'|translate}}</h4>
                        </div>
                        <div class="panel-body">

                            <div class="col-sm-8">
                                <input type="checkbox" id="paReportsSent" name="paReportsSent"
                                       ng-model="labRequest.paReportsSent"> &nbsp;
                                <label class="normal radio-label" for="paReportsSent">
                                    {{ 'PA reports have been sent to the requester.' | translate }}
                                </label>
                            </div>

                        </div>

                        <div class="panel-footer clearfix">
              <span class="pull-right">
                <button class="btn btn-default btn-primary"
                        ng-if="labRequest.request.paReportRequest"
                        ng-click="update(labRequest);">{{'Update PA reports status'|translate}}
                </button>
                </span>
                        </div>
                    </div>

                    <!-- Clinical data -->
                    <div class="panel panel-default"
                         ng-if="
                                isLabOrHubUserStatus(labRequest.status) &&
                                labRequest.status != 'Waiting for lab approval' &&
                                labRequest.status != 'Rejected' &&
                                labRequest.request.clinicalDataRequest">
                        <div class="panel-heading">
                            <h4>{{'Clinical data from practitioner'|translate}}</h4>
                        </div>

                        <div class="panel-body">
                            <div class="col-sm-8">
                                <input type="checkbox" id="clinicalDataSent" name="clinicalDataSent"
                                       ng-model="labRequest.clinicalDataSent"> &nbsp;
                                <label class="normal radio-label" for="clinicalDataSent">
                                    {{ 'Desired information for retrieving clinical data from treating physician was sent to the requester.' | translate }}
                                </label>
                            </div>
                        </div>

                        <div class="panel-footer clearfix">
                            <span class="pull-right">
                                <button class="btn btn-default btn-primary"
                                        ng-if="labRequest.request.clinicalDataRequest"
                                        ng-click="update(labRequest);">{{'Update clinical data status'|translate}}
                                </button>
                            </span>
                        </div>
                    </div>

                    <!-- Approval -->
                    <div class="panel panel-default"
                         ng-if="isLabOrHubUser() && labRequest.status == 'Waiting for lab approval' && isCurrentUser(labRequest.assignee)">

                        <div class="panel-heading">
                            <h4>{{'Lab request status'|translate}}: {{labRequest.status|translate}}</h4>
                        </div>

                        <div class="panel-body">
                            <p>
                                {{'Your laboratory is asked for PA reports, PA material and/or clinical data from the treating physician.'|translate}}
                            </p>

                            <p>{{'Select &lsquo;Approve&rsquo; to accept or &lsquo;Reject&rsquo; to decline this request.'|translate}}</p>

                            <p>{{'With &lsquo;cancel&rsquo; the status of the request will remain &lsquo;under review by lab&rsquo;' | translate }}</p>

                        </div>

                        <div class="panel-footer clearfix">
                            <span class="pull-right">
                                <button class="btn btn-default btn-primary"
                                        ng-click="approve(labRequest);">{{'Approve'|translate}}
                                </button>
                                <button class="btn btn-default btn-warning"
                                        ng-click="reject(labRequest);">{{'Reject'|translate}}
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="panel panel-default"
                         ng-if="(isLabUser() || isHubUser()) && labRequest.status == 'Approved'">
                        <div class="panel-heading">
                            <h4>{{'Lab request status'|translate}}: {{'Approved'|translate}}</h4>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-6">
                                {{'The lab request has been approved.'|translate}}
                            </div>
                            <div class="col-sm-6">
                                <form name="datepickerForm" id="datepicker-form" class="form-inline" role="form">
                                    <div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
                                        <label class="control-label"><i class="fa fa-calendar"></i> {{'Return date' | translate}}</label>
                                        <input type="text" class="form-control" ng-model="selectedDate.date" name="date" bs-datepicker data-min-date="{{getDatetime()}}">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="panel-footer clearfix">
                            <span class="pull-right">
                                <button class="btn btn-default btn-primary"
                                        ng-if="labRequest.request.materialsRequest"
                                        ng-click="sending(labRequest, selectedDate)">{{'Send materials'|translate}}
                                </button>
                                <button class="btn btn-default btn-primary"
                                        ng-if="!labRequest.request.materialsRequest"
                                        ng-click="completeReportsOnly(labRequest);">{{'Complete'|translate}}
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="panel panel-default"
                         ng-if="(isPalga() || isLabUser() || isHubUser()) && labRequest.status == 'Rejected'">
                        <div class="panel-heading">
                            <h4>{{'Lab request status'|translate}}: {{'Rejected'|translate}}</h4>
                        </div>
                        <div class="panel-body">

                            <div class="col-sm-8">
                                {{'The lab request has been rejected.'|translate}}
                            </div>

                        </div>
                        <div class="panel-footer clearfix">
                            <span class="pull-right">
                                <button class="btn btn-default btn-primary"
                                    ng-if="isPalga()"
                                    ng-click="completeRejected(labRequest);">{{'Complete'|translate}}
                                </button>

                            </span>
                        </div>
                    </div>

                    <div class="panel panel-default"
                         ng-if="isRequester() && labRequest.status == 'Received'">
                        <div class="panel-heading">
                            <h4>{{'Lab request status'|translate}}: {{'Received'|translate}}</h4>
                        </div>
                        <div class="panel-body">

                            <div class="col-sm-8">
                                {{'PA material has been received.'|translate}}
                            </div>

                        </div>
                        <div class="panel-footer clearfix">
                            <span class="pull-right">
                                <button class="btn btn-default btn-primary"
                                    ng-click="returning(labRequest);">
                                    {{'Return materials'|translate}}
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="panel panel-default"
                         ng-if="isRequester() && labRequest.status == 'Sending' ||
                    (isLabUser() || isHubUser()) && (
                            labRequest.status == 'Returning'
                            || labRequest.status == 'Sending'
                            || labRequest.status == 'Received'
                        )">
                        <div class="panel-heading">
                            <h4>{{'Lab request status'|translate}}: {{labRequest.status|translate}}</h4>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-8"
                                ng-if="labRequest.status == 'Received'">
                                <p>{{'PA material has been received by the requester.'|translate}}</p>
                                <p>&nbsp;</p>
                            </div>
                            <div class="col-sm-8"
                                ng-if="labRequest.status == 'Sending'">
                                <p>{{'PA material has been sent.'|translate}}</p>
                                <p>&nbsp;</p>
                            </div>
                            <div class="col-sm-8"
                                ng-if="labRequest.status == 'Returning'">
                                <p>{{'PA material has been returned.'|translate}}</p>
                                <p>&nbsp;</p>
                            </div>

                            <div class="col-sm-8"
                                 ng-class="{ 'has-error' : labRequestEditForm.missingSamples.$invalid }">
                                <input type="checkbox" id="samplesMissing" name="samplesMissing"
                                       ng-model="labRequest.samplesMissing"> &nbsp;
                                <label class="normal radio-label" for="samplesMissing">
                                    {{'Materials are missing.' | translate }}
                                </label>
                                <label ng-show="labRequest.samplesMissing" class="normal" for="missingSamples">{{'Please add a note.' | translate}}</label>
                                <textarea class="form-control" id="missingSamples" name="missingSamples"
                                          placeholder="{{'Add note'|translate}}"
                                          ng-model="labRequest.missingSamples.contents"
                                          ng-required="labRequest.samplesMissing"
                                          ng-show="labRequest.samplesMissing"
                                >
                                </textarea>
                            </div>
                        </div>

                        <div class="panel-footer clearfix">
                            <span class="pull-right">
                                <span ng-if="isRequester() && labRequest.status == 'Sending'">
                                    <button class="btn btn-default btn-primary"
                                            ng-disabled="labRequestEditForm.$invalid"
                                            ng-click="received(labRequest);">
                                        {{'PA material received'|translate}}
                                    </button>
                                </span>
                                <span ng-if="isLabUser() || isHubUser()">
                                    <button class="btn btn-default btn-primary"
                                            ng-click="completeReturned(labRequest);">
                                        {{'PA material returned'|translate}}
                                    </button>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <!--FOOTER-->
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" title="{{'Undo approval' | translate}}"
                            ng-click="rejectApprovedLabRequest(labRequest)"
                            ng-if="isLabOrHubUser() && (labRequest.status=='Approved' || labRequest.status=='Sending')">
                        <span><i class="glyphicon glyphicon-remove"></i></span>
                        {{'Undo approval' | translate}}
                    </button>
                    <button class="btn btn-default" type="button"
                            ng-if="isLabOrHubUser() && labRequest.status=='Rejected'"
                            ng-click="undoReject(labRequest);">
                        <span><i class="glyphicon glyphicon-remove"></i></span>
                        {{'Undo rejection'|translate}}
                    </button>
                    <a class="btn btn-default" ng-click="cancel();">{{'Cancel'|translate}}</a>
                </div>

            </form>
        </div>
    </div>
</div>
