<div class="container-fluid" ng-controller="LabRequestController">
    <div class="row">

        <!--Side Bar-->
        <div class="col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#/">View</a></li>
            </ul>
        </div>

        <!--Main-->
        <div class="col-md-10 col-md-offset-2 form-horizontal main ">

            <h2>Lab Request: {{labRequest.taskId}}</h2>
            <br/>
            <hr>

            <div style="padding-bottom: 25px;">
                <button class="btn btn-default" type="button"  ng-click="edit(labRequest);" title="Edit"
                        ng-if="(isLabUser() && isLabUserStatus(labRequest.status))
                            || (isRequester() && isRequesterStatus(labRequest.status))"
                        ng-disabled="isLabUser() && (labRequest.assignee != globals.currentUser.userid)">
                    <span><i class="glyphicon glyphicon-pencil"></i></span>
                    {{'Edit' | translate}}
                </button>
                <button class="btn btn-default" type="button"  ng-click="focus('#noteText');" title="{{'Notes' | translate}}">
                    <span><i class="glyphicon glyphicon-comment"></i></span>
                    {{'Notes' | translate}}
                </button>
                 <span ng-if="labRequest.status != 'Waiting for lab approval' && labRequest.status != 'Rejected' && labRequest.assignee == globals.currentUser.userid">
                   <a class="btn btn-default" ng-href="/labrequests/{{labRequest.id}}/panumbers/csv">
                   <span><i class="glyphicon glyphicon-download-alt"></i></span>
                   Download panumbers_{{labRequest.id}}.csv
                   </a>
                 </span>
                <a href="mailto:{{labRequest.requesterEmail}}?subject=Lab request rejected&amp;body=Lab request rejected.%0AReject reason: {{labRequest.rejectReason}}
                    "
                    ng-if="labRequest.status=='Rejected'">
                <button
                class="btn btn-default" type="button" title="{{'Compose rejection mail' | translate}}">
                    <span><i class="glyphicon glyphicon-envelope"></i></span>
                    {{'Compose rejection mail' | translate}}
                </button></a>
                <button ng-if="isLabUser() && lab_user_statuses.indexOf(labRequest.status) != -1" 
                    ng-show="labRequest.assignee != globals.currentUser.userid"
                    class="btn btn-default" type="button"  
                    ng-click="claim(labRequest);" title="Claim">
                    <span><i class="glyphicon glyphicon-eye-open"></i></span>
                    {{'Claim' | translate}}
                </button>
                <button ng-if="isLabUser() && lab_user_statuses.indexOf(labRequest.status) != -1"
                    ng-show="labRequest.assignee == globals.currentUser.userid" 
                    class="btn btn-default" type="button"  
                    ng-click="unclaim(labRequest);" title="Unclaim">
                    <span><i class="glyphicon glyphicon-eye-close"></i></span>
                    {{'Unclaim' | translate}}
                </button>
            </div>

            <div bs-tabs>

              <div title="Details" name="Details" bs-pane>
                <h3>{{ 'Details' | translate}}</h3>
                <hr>
                <!--Status-->
                <div class="form-group">
                  <label class="control-label col-md-2">{{ 'Status' | translate }}</label>
                  <div class="col-md-10">
                    <p class="form-control-static"> {{labRequest.status}} </p>
                  </div>
                </div>

                <!--Rejected details-->
                <div ng-if="labRequest.status == 'Rejected'">
                  <div class="form-group">
                    <label class="control-label col-md-2">{{ 'Reject date' | translate }}</label>
                    <div class="col-md-10">
                      <p class="form-control-static"> {{labRequest.rejectDate | date}}</p>
                      <br>
                    </div>
                  </div>

                  <div class="form-group" ng-if="isLabUser()">
                    <label class="control-label col-md-2">{{ 'Reject reason' | translate }}</label>
                    <div class="col-md-10">
                      <p class="form-control-static">
                        {{labRequest.rejectReason}}
                        <br><br>
                        <a href="mailto:{{labRequest.requesterEmail}}?subject=Lab request rejected&amp;body=Lab request rejected.%0AReject reason: {{labRequest.rejectReason}}">
                          <button
                            class="btn btn-default" type="button" title="{{'Compose rejection mail' | translate}}">
                            <span><i class="glyphicon glyphicon-envelope"></i></span>
                            {{'Compose rejection mail' | translate}}
                          </button>
                        </a>
                      </p>
                    </div>
                  </div>
                </div>

                <!-- PA Reports Status -->
                <div class="form-group">
                  <label class="control-label col-md-2">{{ 'PA reports' | translate }}</label>
                  <div class="col-md-10">
                    <p class="form-control-static">
                      <span><i class="glyphicon {{labRequest.paReportsSent ? 'glyphicon-check' : 'glyphicon-unchecked'}}"></i></span>
                      &nbsp; {{ 'PA Reports has been sent to requester.' |
                      translate }}
                    </p>
                  </div>
                </div>


                <h3> Parent Details </h3>
                <hr>

                <!--Parent request details-->
                <div>
                  <div class="form-group">
                    <label class="control-label col-md-2">{{ 'Request Title' | translate }}</label>
                    <div class="col-md-10">
                      <p class="form-control-static">
                        <a ng-href="/#/request/view/{{labRequest.processInstanceId}}">
                          {{labRequest.request.title}}
                        </a>
                      </p>
                    </div>
                  </div>
        
                  <div class="form-group">
                    <label class="control-label col-md-2">{{ 'Created Date' | translate }}</label>
                    <div class="col-md-10">
                      <p class="form-control-static">
                        {{labRequest.request.dateCreated | date }}
                      </p>
                    </div>
                  </div>
                </div>


            <!--Background -->
            <div class="form-group">
                <label class="control-label col-md-2">{{ 'Background' | translate }}</label>
                <div class="col-md-10">
                <p class="form-control-static">
                    {{labRequest.request.background}}
                </p>
                </div>
            </div>

            <!-- Research Question -->
            <div class="form-group">
                <label class="control-label col-md-2">{{ ' Research Question' | translate }}</label>
                <div class="col-md-10">
                <p class="form-control-static">
                    {{labRequest.request.researchQuestion}}
                </p>
                </div>
            </div>

            <!-- Hypothesis -->
            <div class="form-group">
                <label class="control-label col-md-2">{{ 'Hypothesis' | translate }}</label>
                <div class="col-md-10">
                <p class="form-control-static">
                    {{labRequest.request.hypothesis}}
                </p>
                </div>
            </div>

            <!-- Methods -->
            <div class="form-group">
                <label class="control-label col-md-2">{{ 'Methods' | translate }}</label>
                <div class="col-md-10">
                    {{labRequest.request.methods}}
                </div>
            </div>

            <!-- Request Type -->
            <div class="form-group">
                <label class="control-label col-md-2">{{ 'Request Type' | translate }}</label>
                <div class="col-md-10" ng-init="">
                <p class="form-control-static">
                    {{"Request_Type_" + labRequest.request.type | translate}}
                </p>
                </div>
            </div>

                <div ng-if="globals.currentUser.roles.indexOf('requester') == -1" >
                  <!--Requester info-->
                  <!--Displayed only to users with non requester role-->
                  <!-- Requester -->
                  <div class="form-group">
                    <label class="control-label col-md-2">{{ 'Requester' | translate }}</label>
                    <div class="col-md-10">
                      <p class="form-control-static">
                        {{labRequest.requesterName}}
                      </p>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-md-2">{{ 'Contact' | translate }}</label>
                    <address class="col-md-10">
                      <p class="form-control-static" ng-bind-html="labRequest.htmlRequesterAddress"></p>
                    </address>
                  </div>
                </div> <!-- end if -->

                <!--Requester lab Info-->
                <div class="form-group">
                  <label class="control-label col-md-2">{{ 'Requester lab' | translate }}</label>
                  <div class="col-md-10">
                    <p class="form-control-static">
                      {{"Lab" | translate}} {{labRequest.requesterLab.number}} - {{labRequest.requesterLab.name}}
                    </p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-2">{{ 'Contact' | translate }}</label>
                  <address  class="col-md-10">
                    <p class="form-control-static" ng-bind-html="labRequest.htmlRequesterLabAddress"></p>
                  </address>
                </div>

                <div ng-if="!isLabUser()" >
                  <!--Lab Info-->
                  <!--Displayed only to users with non lab user role-->
                  <div class="form-group">
                    <label class="control-label col-md-2">{{ 'Lab' | translate }}</label>
                    <div class="col-md-10">
                      <p class="form-control-static">
                        {{"Lab" | translate}} {{labRequest.lab.number}} - {{labRequest.lab.name}}
                      </p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-2">{{ 'Contact' | translate }}</label>
                    <address  class="col-md-10">
                      <p class="form-control-static" ng-bind-html="labRequest.htmlLabAddress"></p>
                    </address>
                  </div>
                </div>

              </div>

              <div title="Excerpt list" name="Excerpt list" bs-pane>

                  <h3>{{ 'Excerpt list' | translate}}</h3>
                  <hr>

                  <div style="overflow: scroll; border: 5px #CCC solid; font-size: smaller;">
                    <table st-table="rowCollection" class="table">
                      <thead>
                      <tr>
                        <th></th>
                        <th ng-repeat="value in labRequest.excerptList.columnNames track by $index">{{value}}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="excerpt in labRequest.excerptList.entries track by excerpt.id" >
                        <td cs-select="row"></td>
                        <td  ng-repeat="value in excerpt.values track by $index">
                          {{value}}
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>

              </div>

              <div title="PA Numbers" name="PA Numbers" bs-pane>
                <div ng-include="'app/lab-request/pa-numbers.html'"></div>
              </div>

            </div>

            <!--Comments-->
            <div ng-include="'app/lab-request/comments.html'"></div>
      </div> <!-- end of main -->
    </div> <!--end row-->
</div> <!--end container-->
<br>
<br>
