<h3>{{ 'Samples' | translate}}</h3>
<hr>
<table st-table="paNumbersDisplayedCollection" st-safe-src="labRequest.pathologyList" class="table table-striped">
  <thead>
  <tr>
    <th class="print-pa-id-col">{{'ID' | translate}}</th>
    <th class="print-pa-no-col" st-sort="paNumber" width="10%">{{'PA number' | translate}}</th>
    <th class="print-pa-samples-col">{{'Samples' | translate}}</th>
    <th class="" width="10%">{{'Total Samples' | translate}}</th>
  </tr>
  <tr class="no-print">
    <th colspan="6"><input id="request-search" st-search="" class="form-control" placeholder="Search ..." type="text"/></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="pathology in paNumbersDisplayedCollection">
    <td class="print-pa-id-col">
      {{pathology.id}}
    </td>
    <td class="print-pa-no-col">
      {{pathology.paNumber}}
    </td>
    <td class="print-pa-samples-col">
      <tags-input 
        on-tag-added="updatePathology(labRequest, pathology)" 
        on-tag-removed="updatePathology(labRequest, pathology)"
        replace-spaces-with-dashes="false"
        ng-model="pathology.samples" 
        placeholder="Enter sample codes"
        add-on-enter="true"
        add-on-blur="true"
        add-on-paste="true"
        min-length="1"
        ng-if="labRequest.assignee == globals.currentUser.userid"
        ></tags-input>
        <span ng-if="labRequest.assignee != globals.currentUser.userid">
            <span ng-repeat="sample in pathology.samples">
                <label class="label label-primary">{{sample}}</label>
            </span>
        </span>
    </td>
    <td>{{pathology.samples.length}}</td>
  </tr>
  </tbody>
</table>
