<h3>{{ 'PA numbers' | translate}}</h3>
<hr>
<table st-table="paNumbersDisplayedCollection" st-safe-src="labRequest.pathologyList" class="table table-striped">
  <thead>
  <tr>
    <th>{{'#' | translate}}</th>
    <th st-sort="paNumber">{{'PA number' | translate}}</th>
    <th>{{'Samples' | translate}}</th>
  </tr>
  <tr>
    <th colspan="6"><input id="request-search" st-search="" class="form-control" placeholder="Search ..." type="text"/></th>
  </tr>  </thead>
  <tbody>
  <tr ng-repeat="pathology in paNumbersDisplayedCollection">
    <td>
      {{pathology.id}}
    </td>
    <td>
      {{pathology.paNumber}}
    </td>
    <td>
      <tags-input 
        on-tag-added="updatePathology(labRequest, pathology)" 
        on-tag-removed="updatePathology(labRequest, pathology)"
        replace-spaces-with-dashes="false"
        ng-model="pathology.samples" 
        placeholder="Enter sample codes"
        add-on-enter="true"
        add-on-blur="true"
        add-on-paste="true"
        min-length="1"
        ng-if="labRequest.assignee == globals.currentUser.userid"
        ></tags-input>
        <span ng-if="labRequest.assignee != globals.currentUser.userid">
            <span ng-repeat="sample in pathology.samples">
                <label class="label label-primary">{{sample}}</label>
            </span>
        </span>

    </td>
  </tr>
  </tbody>
</table>
