<div class="container-fluid">
    <div ng-controller="RequestController">

        <div ng-if="!authenticated">
            <div class="alert alert-danger" role="alert">
                {{ 'Not logged in' | translate }}
            </div>
        </div>

        <div ng-if="!request" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div ng-if="error" class="alert alert-danger" role="alert">
                {{ error | translate }}
            </div>
        </div>

        <!--Main-->
        <div ng-if="authenticated && request" class="main">

            <div ng-if="error" class="alert alert-danger" role="alert">
                {{ error | translate }}
            </div>

            <div ng-bind-html="template_contents" class="agreement-form">
            </div>

        </div>

    </div> <!--end row-->
</div>
<br>
<br>
