<div class="container-fluid" ng-controller="RequestController">
    <div class="row">

        <!--Side Bar-->
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#/">View</a></li>
                <li class="active"><a href="#/">Approval</a></li>
            </ul>
        </div>

        <!--Main-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h2>{{request.processInstanceId}} - {{ 'Request' | translate }} {{request.title}}</h2>
            <hr>

            <div style="padding-bottom: 25px;">
                <button class="btn btn-default" type="button"  ng-click="edit(request);" title="Edit"
                        ng-hide="(request.status != 'Open' && globals.currentUser.roles.indexOf('palga') == -1) || (globals.currentUser.roles.indexOf('palga') != -1 && request.assignee != globals.currentUser.userid)">
                    <span><i class="glyphicon glyphicon-pencil"></i></span>
                    {{'Edit' | translate}}
                </button>
                <button class="btn btn-default" type="button"  ng-click="edit(request);" title="Vote"
                        ng-hide="(request.status != 'Approval' || globals.currentUser.roles.indexOf('scientific_council') == -1)">
                    <span><i class="glyphicon glyphicon-check"></i></span>
                    {{'Vote' | translate}}
                </button>
                <button class="btn btn-default" type="button"  ng-click="edit(request);" title="Discuss"
                        ng-hide="(request.status != 'Approval' || globals.currentUser.roles.indexOf('palga') == -1)">
                    <span><i class="glyphicon glyphicon-comment"></i></span>
                    {{'Discuss' | translate}}
                </button>
                <button ng-if="globals.currentUser.roles.indexOf('palga') != -1"  class="btn btn-default" type="button"  ng-click="focus('#commentText');" title="{{'Notes' | translate}}">
                    <span><i class="glyphicon glyphicon-comment"></i></span>
                    {{'Notes' | translate}}
                </button>
                <button ng-if="globals.currentUser.roles.indexOf('palga') != -1" ng-show="request.assignee != globals.currentUser.userid" class="btn btn-default" type="button"  ng-click="claim(request);" title="Claim">
                    <span><i class="glyphicon glyphicon-eye-open"></i></span>
                    {{'Claim' | translate}}
                </button>
                <button ng-if="globals.currentUser.roles.indexOf('palga') != -1" ng-show="request.assignee == globals.currentUser.userid" class="btn btn-default" type="button"  ng-click="unclaim(request);" title="Claim">
                    <span><i class="glyphicon glyphicon-eye-close"></i></span>
                    {{'Unclaim' | translate}}
                </button>
                <button class="btn btn-default" type="button"  ng-click="remove(request)" title="Claim"
                        ng-hide="(request.status != 'Open' && globals.currentUser.roles.indexOf('palga') == -1) || (globals.currentUser.roles.indexOf('palga') != -1 && request.assignee != globals.currentUser.userid)">
                    <span><i class="glyphicon glyphicon-trash"></i></span>
                    {{'Delete' | translate}}
                </button>
            </div>

            <!-- Alert -->
            <div ng-repeat="alert in alerts" class="alert alert-{{alert.type}}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="closeAlert();">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{alert.msg | translate}}
            </div>


            <h3>{{ 'Details' | translate }}</h3>


                    <!-- If in 'Review' status and user type 'palga' or 'scientific_council' -->
                    <div ng-if="request.status=='Approval' &&
                        (   globals.currentUser.roles.indexOf('palga') != -1
                         || globals.currentUser.roles.indexOf('scientific_council') != -1)">

                    <h4>{{'Approval by the scientific council'|translate}}</h4>
                    <hr>

                    <!-- Status -->
                    <div class="row">
                        <label class="control-label col-sm-3">{{ 'Votes' | translate }}</label>
                        <div class="col-sm-8">
                        <div class="panel panel-default">
                            <div class="panel-body">
                            {{size(request.approvalVotes)}} votes.
                            </div>
                        </div>
                         <div class="panel panel-default"  ng-repeat="(user_id, vote) in request.approvalVotes">
                            <div class="panel-body">
                            <span ng-if="vote.value=='ACCEPTED'"><i class="glyphicon glyphicon-ok-circle"></i></span>
                            <span ng-if="vote.value=='REJECTED'"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span ng-if="vote.value=='NONE'"><i class="glyphicon glyphicon-question-sign"></i></span>
                            {{vote.value}} &nbsp; <small ng-if="getName(vote.creator)">({{getName(vote.creator)}})</small>
                            </div>
                        </div>
                        </div>
                    </div>

                    <ul class="list-group">
                    <li class="list-group-item" ng-repeat="comment in request.approvalComments">
                        <p><div ng-show="!approval_comment_edit_visibility[comment.id]">{{comment.contents}}</div>
                            <div ng-show="approval_comment_edit_visibility[comment.id]">
                           <textarea name="commentText" placeholder="{{'Add comment'|translate}}"
                            ng-model="comment.contents">
                           </textarea>
                           <button class="btn btn-default" type="button" title="{{'Update comment'|translate}}"
                            ng-click="updateComment(request, comment)">
                            {{'Update comment'|translate}}
                            </button>
                            </div>
                        <span class="pull-right" ng-if="globals.currentUser.id==comment.creator.id">
                        <span class="btn-group btn-group-xs">
                            <button class="btn btn-info {{comment_edit_visibility[comment.id] ? 'active' : ''}}" type="button" title="Edit"
                                ng-click="comment_edit_visibility[comment.id] = 1">
                                <span><i class="glyphicon glyphicon-pencil"></i></span>
                                </button>
                            <button class="btn btn-danger" type="button" title="Delete"
                                ng-click="removeApprovalComment(comment)">
                                <span><i class="glyphicon glyphicon-remove-circle"></i></span>
                            </button>
                        </span>
                        </span>
                        </p>
                        <p>
                        <small>
                        <span><i class="glyphicon glyphicon-user"></i></span>
                        <em>{{getName(comment.creator)}}</em>
                        &nbsp;
                        <span><i class="glyphicon glyphicon-time"></i></span>
                        <span>{{comment.timeCreated | date: 'EEE dd MMMM yyyy  HH:mm'}}</span>
                        <span ng-if="comment.timeEdited != comment.timeCreated">(Last edited: {{comment.timeEdited | date: 'EEE dd MMMM yyyy  HH:mm'}})</span>
                        </small>
                        </p>
                    </li>
                    </ul>

                    <!-- Add approval comment -->
                    <div class="form-group" ng-class="">
                        <div class="col-sm-12">
                            <input type="hidden" ng-model="approval_comment.processInstanceId" value="{{request.processInstanceId}}">
                            <textarea class="form-control" id="commentText" name="commentText" placeholder="{{'Add comment'|translate}}"
                                      ng-model="approval_comment.contents">
                            </textarea>
                        </div>
                    </div>

                    <div class="form-group" ng-class="">
                        <div class="col-sm-12 text-justify">
                            <button class="btn btn-default" type="button" title="{{'Add comment'|translate}}"
                                    ng-click="addApprovalComment(request, approval_comment)"
                                    ng-if="!approval_comment.id">
                                {{'Add comment'|translate}}
                            </button>
                            <button class="btn btn-default" type="button" title="{{'Update comment'|translate}}"
                                    ng-click="updateApprovalComment(request, approval_comment)"
                                    ng-if="approval_comment.id">
                                {{'Update comment'|translate}}
                            </button>
                        </div>
                    </div>
                        
                    <!-- Add vote -->
                    <div ng-if="globals.currentUser.roles.indexOf('scientific_council') != -1" class="form-group" ng-class="">
                        <div class="col-sm-8">
                           <!-- {{request.approvalVotes[globals.currentUser.userid].value}} -->
                           <button class="btn btn-default {{request.approvalVotes[globals.currentUser.userid].value=='ACCEPTED'?'active':''}}"
                            type="button" title="{{'Accepted'|translate}}"
                            ng-click="updateVote(request, 'ACCEPTED')"
                            ng-if="!edit_comment.id">
                            <span><i class="glyphicon glyphicon-ok-circle"></i></span>
                            {{'Accepted'|translate}}
                            </button>
                           <button class="btn btn-default {{request.approvalVotes[globals.currentUser.userid].value=='REJECTED'?'active':''}}"
                            type="button" title="{{'Rejected'|translate}}"
                            ng-click="updateVote(request, 'REJECTED')"
                            ng-if="!edit_comment.id">
                            <span><i class="glyphicon glyphicon-ban-circle"></i></span>
                            {{'Rejected'|translate}}
                            </button>
                        </div>
                    </div>

                    </div> <!-- endif 'Review' status and user type 'palga' or 'scientific_council' -->


        </div>

    </div> <!--end row-->
</div>
<br>
<br>
