<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" style="overflow: auto" ng-keypress="cancelByEscKey($event, request);">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="form-horizontal" role="form" name="requestEditForm" novalidate>
                <div class="modal-header">
                    <h3 class="modal-title" ng-if="request.status=='Open'">{{ 'New request' | translate }}</h3>
                    <h3 class="modal-title" ng-if="request.status=='Review'">{{ 'Edit request' | translate }}: {{request.title}}</h3>
                    <h3 class="modal-title" ng-if="request.status=='Approval'">{{ 'Evaluate request' |translate }}: {{request.title}}</h3>
                </div>
                <div class="modal-body">

                    <div class="alert alert-danger" role="alert" ng-show="error">
                        {{ error }}
                    </div>

                    <h3>{{'General Details' |translate}}</h3>
                    <hr>

                    <!-- Principal Investigator -->
                    <div class="form-group" ng-class="{ 'has-error' : requestEditForm.contactPersonName.$invalid && requestEditForm.contactPersonName.$dirty }">
                        <label class="control-label col-sm-3" for="contactPersonName">{{ 'Principal investigator' | translate }}</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="contactPersonName" name="contactPersonName" placeholder="{{ 'Principal investigator' | translate }}"
                                   ng-model="request.contactPersonName" ng-maxlength="100"  data-placement="bottom" data-animation="am-flip-x" bs-popover="popover" required>
                            <!-- errors -->
                            <span class="help-block" ng-show="requestEditForm.contactPersonName.$error.maxlength">{{ 'Input value is too long' | translate }}</span>
                            <span class="help-block" ng-show="requestEditForm.contactPersonName.$error.required">
                                {{ 'Required field' | translate }}
                            </span>
                        </div>
                    </div>


                    <!-- Pathologist name -->
                    <div class="form-group" ng-class="{ 'has-error' : requestEditForm.pathologistName.$invalid && requestEditForm.pathologistName.$dirty }">
                        <label class="control-label col-sm-3" for="pathologistName">{{ 'Pathologist' | translate }}</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="pathologistName" name="pathologistName" placeholder="{{ 'Pathologist' | translate }}"
                                   ng-model="request.pathologistName" ng-maxlength="100"  data-placement="bottom" data-animation="am-flip-x" bs-popover="popover" required>
                            <!-- errors -->
                            <span class="help-block" ng-show="requestEditForm.pathologistName.$error.maxlength">{{ 'Input value is too long' | translate }}</span>
                            <span class="help-block" ng-show="requestEditForm.pathologistName.$error.required">
                                {{ 'Required field' | translate }}
                            </span>
                        </div>
                    </div>

                    <!-- Pathologist email -->
                    <div class="form-group" ng-class="{ 'has-error' : requestEditForm.pathologistEmail.$invalid && requestEditForm.pathologistEmail.$dirty }">
                        <label class="control-label col-sm-3" for="pathologistEmail"></label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="pathologistEmail" name="pathologistEmail" placeholder="{{ 'Pathologist email' | translate }}"
                                   ng-model="request.pathologistEmail" ng-maxlength="100"  data-placement="bottom" data-animation="am-flip-x" bs-popover="popover" required>
                            <!-- errors -->
                            <span class="help-block" ng-show="requestEditForm.pathologistEmail.$error.maxlength">{{ 'Input value is too long' | translate }}</span>
                            <span class="help-block" ng-show="requestEditForm.pathologistEmail.$error.required">
                                {{ 'Required field' | translate }}
                            </span>
                            <span class="help-block" ng-show="requestEditForm.pathologistEmail.$invalid && requestEditForm.pathologistEmail.$dirty">
                                {{ 'Email format is invalid' | translate }}
                            </span>
                        </div>
                    </div>

                    <div class="form-group" ng-class="">
                        <label class="control-label col-sm-3">
                            {{'Previous contact' | translate}}
                        </label>
                        <div class="col-sm-8 form-control-static" >
                            {{'Did you contact Palga previously?' | translate}}
                            &nbsp;
                            <input type="radio" id="previousContactYes" name="previousContact" ng-model="request.previousContact" ng-value="true" ng-checked="request.previousContact" >
                            <label class="normal" for="previousContactYes">{{'Yes' | translate}}</label>
                            &nbsp;
                            <input type="radio" id="previousContactNo" name="previousContact" ng-model="request.previousContact" ng-value="false" ng-checked="!request.previousContact" ng-click="resetPreviousContactValues(request);">
                            <label class="normal" for="previousContactNo">{{'No' | translate}}</label>
                            <br>
                        </div>
                    </div>

                    <!-- Previous contact -->
                    <!-- Previous contact description  -->
                    <div class="form-group" ng-show="request.previousContact"
                         ng-class="{ 'has-error' : requestEditForm.previousContactDescription.$invalid  && requestEditForm.previousContactDescription.$dirty }">
                        <label class="control-label col-sm-3" for="previousContactDescription"></label>
                        <div class="col-sm-8">
                        <textarea type="text" class="form-control" id="previousContactDescription" name="previousContactDescription" placeholder="{{ 'Description of previous contact' | translate }}"
                                  ng-model="request.previousContactDescription" ng-required="request.previousContact"></textarea>
                            <!-- errors -->
                            <span class="help-block" ng-show="requestEditForm.previousContactDescription.$error.required">
                                {{ 'Required field' | translate }}
                            </span>
                        </div>
                    </div>

                    <!-- Title -->
                    <div class="form-group" ng-class="{ 'has-error' : (requestEditForm.requestTitle.$invalid || requestEditForm.requestTitle.$error.required) && requestEditForm.requestTitle.$dirty }">
                        <label class="control-label col-sm-3" for="requestTitle">{{ 'Running title' | translate }}</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="requestTitle" name="requestTitle" placeholder="{{ 'Title' | translate }}"
                                   ng-model="request.title" ng-maxlength="50" required>
                            <!-- errors -->
                            <span class="help-block" ng-show="requestEditForm.requestTitle.$error.required">{{ 'Required field' | translate }}</span>
                            <span class="help-block" ng-show="requestEditForm.requestTitle.$error.maxlength">{{ 'Input value is too long' | translate }}</span>
                        </div>
                    </div>

                    <!-- Background -->
                    <div class="form-group" ng-class="{ 'has-error' : (requestEditForm.background.$invalid || requestEditForm.background.$error.required) && requestEditForm.background.$dirty }">
                        <label class="control-label col-sm-3" for="background">{{ 'Background' | translate }}</label>
                        <div class="col-sm-8">
                        <textarea type="text" class="form-control" id="background" name="background" placeholder="{{ 'Background' | translate }}"
                                  ng-model="request.background" required></textarea>
                            <!-- errors -->
                            <span class="help-block" ng-show="requestEditForm.background.$error.required">{{ 'Required field' | translate }}</span>
                        </div>
                    </div>

                    <!-- Research Question -->
                    <div class="form-group" ng-class="{ 'has-error' : (requestEditForm.researchQuestion.$invalid || requestEditForm.researchQuestion.$error.required) && requestEditForm.researchQuestion.$dirty }">
                        <label class="control-label col-sm-3" for="researchQuestion">{{ 'Research question' | translate }}</label>
                        <div class="col-sm-8">
                        <textarea type="text" class="form-control" id="researchQuestion" name="researchQuestion" placeholder="{{ 'Research question' | translate }}"
                                  ng-model="request.researchQuestion" required></textarea>
                            <!-- errors -->
                            <span class="help-block" ng-show="requestEditForm.researchQuestion.$error.required">{{ 'Required field' | translate }}</span>
                        </div>
                    </div>

                    <!-- Hypothesis -->
                    <div class="form-group" ng-class="{ 'has-error' : (requestEditForm.hypothesis.$invalid || requestEditForm.hypothesis.$error.required) && requestEditForm.hypothesis.$dirty }">
                        <label class="control-label col-sm-3" for="requestTitle">{{ 'Hypothesis' | translate }}</label>
                        <div class="col-sm-8">
                        <textarea type="text" class="form-control" id="hypothesis" name="hypothesis" placeholder="{{ 'Hypothesis' | translate }}"
                                  ng-model="request.hypothesis" required></textarea>
                            <!-- errors -->
                            <span class="help-block" ng-show="requestEditForm.hypothesis.$error.required">{{ 'Required field' | translate }}</span>
                        </div>
                    </div>

                    <!-- Methods -->
                    <div class="form-group" ng-class="{ 'has-error' : (requestEditForm.methods.$invalid || requestEditForm.methods.$error.required) && requestEditForm.methods.$dirty }">
                        <label class="control-label col-sm-3" for="requestTitle">{{ 'Methods' | translate }}</label>
                        <div class="col-sm-8">
                        <textarea type="text" class="form-control" id="methods" name="methods" placeholder="{{ 'Methods' | translate }}"
                                  ng-model="request.methods" required></textarea>
                            <!-- errors -->
                            <span class="help-block" ng-show="requestEditForm.methods.$error.required">
                                {{ 'Required field' | translate }}
                            </span>
                        </div>
                    </div>

                    <!--Request Type-->
                    <div class="form-group">
                        <label class="control-label col-sm-3">{{'Request type' | translate}}</label>
                        <div class="col-sm-8">
                            <input type="radio" ng-model="request.type" value="1" id="radio-numbers" >
                            <label class="normal" for="radio-numbers">{{'Request for numbers only' | translate}}</label><br>
                            <input type="radio" ng-model="request.type" value="2" id="radio-excerpts">
                            <label class="normal" for="radio-excerpts">{{'Request for excerpts' | translate}}</label><br>
                            <input type="radio" ng-model="request.type" value="3" id="radio-excerpts-PA">
                            <label class="normal" for="radio-excerpts-PA">{{'Request for excerpts + PA reports' | translate}}</label><br>
                            <input type="radio" ng-model="request.type" value="4" id="radio-excerpts-materials">
                            <label class="normal" for="radio-excerpts-materials">{{'Request for excerpts + materials' | translate}}</label><br>
                            <input type="radio" ng-model="request.type" value="5" id="radio-excerpts-PA-materials">
                            <label class="normal" for="radio-excerpts-PA-materials">{{'Request for excerpts + PA reports + materials' | translate}}</label><br>
                            <input type="radio" ng-model="request.type" value="6" id="radio-PA">
                            <label class="normal" for="radio-PA">{{'Request for PA-reports only' | translate}}</label><br>
                            <input type="radio" ng-model="request.type" value="7" id="radio-materials">
                            <label class="normal" for="radio-materials">{{'Request for materials only' | translate}}</label>
                        </div>
                    </div>

                    <h3>{{'Billing address'|translate}}</h3>
                    <hr>
                    <!-- Address -->
                    <div class="form-group"
                        ng-class="{ 'has-error' : requestEditForm.address1.$invalid && requestEditForm.address1.$dirty }">
                        <label class="control-label col-sm-3" for="address1">{{ 'Address' | translate }}</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="address1" id="address1" placeholder="{{ 'Address' | translate }}"
                            ng-model="request.billingAddress.address1" required>
                            <!-- errors -->
                            <span class="help-block" ng-show="requestEditForm.address1.$error.required">
                                {{ 'Required field' | translate }}
                            </span>
                            <input type="text" class="form-control" id="address2"
                            ng-model="request.billingAddress.address2" >
                        </div>
                    </div>
            
                    <!-- Postal code -->
                    <div class="form-group" 
                        ng-class="{ 'has-error' : (requestEditForm.postalcode.$invalid && requestEditForm.postalcode.$dirty)
                            || (requestEditForm.city.$invalid && requestEditForm.city.$dirty) }">
                        <label class="control-label col-sm-3" for="postalcode">{{ 'Postal code' | translate }}, {{ 'City' | translate }}</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="postalcode" id="postalcode" placeholder="{{ 'Postal code' | translate }}"
                            ng-model="request.billingAddress.postalCode" required>
                            <!-- errors -->
                            <span class="help-block" ng-show="requestEditForm.postalcode.$error.required">
                                {{ 'Required field' | translate }}
                            </span>
                            <input type="text" class="form-control" name="city" id="city" placeholder="{{ 'City' | translate }}"
                            ng-model="request.billingAddress.city" required>
                            <!-- errors -->
                            <span class="help-block" ng-show="requestEditForm.city.$error.required">
                                {{ 'Required field' | translate }}
                            </span>
                        </div>
                    </div>
            
                    <!-- State / Province -->
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="stateProvince">{{ 'Province' | translate }}</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="stateProvince" placeholder="{{ 'Province' | translate }}"
                            ng-model="request.billingAddress.stateProvince" >
                        </div>
                    </div>
            
                    <!-- Billing E-mail -->
                    <div class="form-group" ng-class="{ 'has-error' : requestEditForm.billingEmail.$invalid && requestEditForm.billingEmail.$dirty }">
                        <label class="control-label col-sm-3" for="billingEmail">{{ 'E-mail' | translate }}</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" name="billingEmail" id="billingEmail" placeholder="{{ 'E-mail' | translate }}"
                            ng-model="request.billingAddress.email" ng-maxlength="255">
                            <!-- errors -->
                            <span class="help-block" ng-show="requestEditForm.billingEmail.$error.maxlength">{{ 'Input value is too long' | translate }}</span>
                            <span class="help-block" ng-show="requestEditForm.billingEmail.$invalid && requestEditForm.billingEmail.$dirty">
                                {{ 'Email format is invalid' | translate }}
                            </span>

                        </div>
                    </div>
            
                    <!-- Telephone -->
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="telephone">{{ 'Telephone' | translate }}</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="telephone" placeholder="{{ 'Telephone' | translate }}"
                            ng-model="request.billingAddress.telephone" >
                        </div>
                    </div>
                    
                    <h3>{{'Billing information' | translate}}</h3>
                    <hr>
                    <!-- Charge number -->
                    <div class="form-group" ng-class="{ 'has-error' : requestEditForm.chargeNumber.$invalid && requestEditForm.chargeNumber.$dirty }">
                        <label class="control-label col-sm-3" for="chargeNumber">{{ 'Charge number' | translate }}</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="chargeNumber" name="chargeNumber" placeholder="{{ 'Charge number' | translate }}"
                                   ng-model="request.chargeNumber" ng-maxlength="100"  data-placement="bottom" data-animation="am-flip-x" bs-popover="popover" required>
                            <!-- errors -->
                            <span class="help-block" ng-show="requestEditForm.chargeNumber.$error.maxlength">{{ 'Input value is too long' | translate }}</span>
                            <span class="help-block" ng-show="requestEditForm.chargeNumber.$error.required">
                                {{ 'Required field' | translate }}
                            </span>
                        </div>
                    </div>

                    <!-- Research number -->
                    <div class="form-group" ng-class="{ 'has-error' : requestEditForm.researchNumber.$invalid && requestEditForm.researchNumber.$dirty }">
                        <label class="control-label col-sm-3" for="researchNumber">{{ 'Research number' | translate }}</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="researchNumber" name="researchNumber" placeholder="{{ 'Research number' | translate }}"
                                   ng-model="request.researchNumber" ng-maxlength="100"  data-placement="bottom" data-animation="am-flip-x" bs-popover="popover">
                            <!-- errors -->
                            <span class="help-block" ng-show="requestEditForm.researchNumber.$error.maxlength">{{ 'Input value is too long' | translate }}</span>
                        </div>
                    </div>


                    <h3>{{ 'Data Linkage' | translate }}</h3>
                    <hr>


                    <!-- Data Linkage -->
                    <div class="form-group" ng-class="" ng-show="request.type != 1">
                        <label class="control-label col-sm-3">
                            {{'Data linkage' | translate}}
                        </label>
                        <div class="col-sm-8">
                            <input type="radio" id="linkageWithPersonalDataYes" name="linkageWithPersonalData" ng-model="request.linkageWithPersonalData" ng-value="true" ng-checked="request.linkageWithPersonalData" >
                            <label class="normal" for="linkageWithPersonalDataYes">{{'Linkage with own or external personal data' | translate}}</label><br>
                            <input type="radio" id="linkageWithPersonalDataNo" name="linkageWithPersonalData" ng-model="request.linkageWithPersonalData" ng-value="false" ng-checked="!request.linkageWithPersonalData" ng-click="resetDataLinkageValues(request);">
                            <label class="normal" for="linkageWithPersonalDataNo">{{'No data linkage required' | translate}}</label><br>
                        </div>
                    </div>

                    <!-- Data Linkage Notes  -->
                    <div class="form-group" ng-show="request.type != 1 && request.linkageWithPersonalData"
                         ng-class="{ 'has-error' : requestEditForm.linkageWithPersonalDataNotes.$invalid  && requestEditForm.linkageWithPersonalDataNotes.$dirty }">
                        <label class="control-label col-sm-3" for="requestTitle">{{ 'Data linkage notes' | translate }}</label>
                        <div class="col-sm-8">
                        <textarea type="text" class="form-control" id="linkageWithPersonalDataNotes" name="linkageWithPersonalDataNotes" placeholder="{{ 'Notes for linkage with personal data' | translate }}"
                                  ng-model="request.linkageWithPersonalDataNotes" ng-required="request.linkageWithPersonalData"></textarea>
                            <!-- errors -->
                            <span class="help-block" ng-show="requestEditForm.linkageWithPersonalDataNotes.$error.required">
                                {{ 'Required field' | translate }}
                            </span>
                        </div>
                    </div>

                    <!-- Informed Consent  -->
                    <div class="form-group" ng-class="" ng-show="request.type != 1 && request.linkageWithPersonalData">
                        <label class="control-label col-sm-3" for="informedConsentYes">
                            {{'Informed consent' | translate}}
                        </label>
                        <div class="col-sm-8">
                            <input type="radio" id="informedConsentYes" name="informedConsent" ng-model="request.informedConsent" ng-value="true" ng-checked="request.informedConsent" ng-click="resetDataLinkageValues(request, true);">
                            <label class="normal" for="informedConsentYes">{{'Yes' | translate}}</label><br>
                            <input type="radio" id="informedConsentNo" name="informedConsent" ng-model="request.informedConsent" ng-value="false" ng-checked="!request.informedConsent">
                            <label class="normal" for="informedConsentNo">{{'No' | translate}}</label>
                        </div>
                    </div>

                    <!-- Reason Using Personal Data  -->
                    <div class="form-group" ng-show="(request.type != 1 && request.linkageWithPersonalData)"
                         ng-class="{ 'has-error' : requestEditForm.reasonUsingPersonalData.$invalid && requestEditForm.reasonUsingPersonalData.$dirty }">
                        <label class="control-label col-sm-3" for="requestTitle">{{ 'Reason using personal data' | translate }}</label>
                        <div class="col-sm-8">
                        <textarea type="text" class="form-control" id="reasonUsingPersonalData" name="reasonUsingPersonalData" placeholder="{{ 'Reason using personal data' | translate }}"
                                  ng-model="request.reasonUsingPersonalData" ng-disabled="request.informedConsent"  ng-required="(request.type != 1 && request.linkageWithPersonalData && !request.informedConsent)"></textarea>
                        <!-- errors -->
                        <span class="help-block" ng-show="requestEditForm.reasonUsingPersonalData.$error.required">
                            {{ 'Required field' | translate }}
                        </span>
                        </div>
                    </div>

                    <br>

                    <h3>{{ 'Attachments' | translate }}</h3>
                    <hr>

                    <div ng-show="request.attachments.length < 1"><p><i>{{'No attachment found.' | translate}}</i></p></div>

                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="file in request.attachments">
                            <label><a ng-href="/requests/{{request.processInstanceId}}/files/{{file.id}}">{{file.name}}</a></label>
                            <span class="pull-right">
                            <span class="btn-group">
                                <button class="btn btn-default" type="button" title="Delete"
                                        ng-click="removeFile(file)"
                                        ng-if="request.status=='Open' || (isPalga() && request.status=='Review')"
                                        >
                                    Delete
                                </button>
                            </span>
                            </span>
                        </li>
                    </ul>

                    <div flow-init="flow_options({target:'/requests/'+request.processInstanceId+'/files'})"
                         flow-name="agreementFlow"
                         flow-files-submitted="$flow.upload()"
                         flow-file-success="fileuploadsuccess(request, $message, false, $flow)"
                         ng-if="request.status=='Open' || (isPalga() && request.status=='Review')">
                        <div>
                            <input type="file" flow-btn id="test-upload-attachment1" style="display:none" />
                            <span class="btn btn-default" flow-btn>{{'Upload file'|translate}}</span>
                        </div>
                        <br>
                        <div class="alert" flow-drop style="border: 2px dashed gray; text-align: center"
                             flow-drag-enter="style={border:'4px dashed lightgreen'}"
                             flow-drag-leave="style={border: '2px dashed gray'}"
                             ng-style="style">
                            ({{'drag and drop your file here'|translate}})
                        </div>
                    </div>

                    <h3>{{ 'Medical ethical committee approval' | translate }}</h3>
                    <hr>

                    <div ng-show="request.attachments.length < 1"><p><i>{{'No attachment found.' | translate}}</i></p></div>

                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="file in request.medicalEthicalCommitteeApprovalAttachments">
                            <label><a ng-href="/requests/{{request.processInstanceId}}/files/{{file.id}}">{{file.name}}</a></label>
                            <span class="pull-right">
                            <span class="btn-group">
                                <button class="btn btn-default" type="button" title="Delete"
                                        ng-click="removeMECFile(file)"
                                        ng-if="isRequester() && (
                                            request.status=='Open' 
                                            || request.status=='Review'
                                            || request.status=='Approval'
                                            || request.status=='DataDelivery'
                                            || request.status=='SelectionReview'
                                            )"
                                        >
                                    Delete
                                </button>
                            </span>
                            </span>
                        </li>
                    </ul>

                    <div flow-init="flow_options({target:'/requests/'+request.processInstanceId+'/mecFiles'})"
                         flow-name="agreementFlow"
                         flow-files-submitted="$flow.upload()"
                         flow-file-success="fileuploadsuccess(request, $message, false, $flow)"
                         ng-if="isRequester() && (
                                            request.status=='Open' 
                                            || request.status=='Review'
                                            || request.status=='Approval'
                                            || request.status=='DataDelivery'
                                            || request.status=='SelectionReview'
                                            )">
                        <div>
                            <input type="file" flow-btn id="test-upload-attachment2" style="display:none" />
                            <span class="btn btn-default" flow-btn>{{'Upload medical ethical committee approval'|translate}}</span>
                        </div>
                        <br>
                        <div class="alert" flow-drop style="border: 2px dashed gray; text-align: center"
                             flow-drag-enter="style={border:'4px dashed lightgreen'}"
                             flow-drag-leave="style={border: '2px dashed gray'}"
                             ng-style="style">
                            ({{'drag and drop your file here'|translate}})
                        </div>
                    </div>


                    <div ng-include="'app/request/request-review.html'" ng-if="request.status=='Review'"></div>

                    <div ng-if="request.status=='Approval' &&
                        (globals.currentUser.roles.indexOf('palga') != -1)">

                        <br>

                        <h3>{{'Checks by privacy committee'|translate}}</h3>
                        <hr>

                        <!-- Is sent to privacy commitee -->
                        <div class="form-group" ng-class="">
                            <label class="control-label col-sm-3">
                                &nbsp;
                            </label>
                            <div class="col-sm-8">
                                <input type="checkbox" id="sentToPrivacyComm" name="sentToPrivacyComm" value="1"
                                       ng-model="request.sentToPrivacyCommittee"> &nbsp; 
                                <label class="normal" for="sentToPrivacyComm">{{ 'This request has been sent to the privacy committee to be checked.' | translate }}</label>
                            </div>
                        </div>

                        <!-- Outcome -->
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="privacyCommitteeOutcome">{{ 'Outcome' | translate }}</label>
                            <div class="col-sm-8">
                            <textarea type="text" class="form-control" id="privacyCommitteeOutcome" name="privacyCommitteeOutcome" placeholder="{{ 'Outcome' | translate }}"
                                  ng-model="request.privacyCommitteeOutcome"></textarea>
                            </div>
                        </div>

                        <!-- Outcome Reference -->
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="privacyCommitteeOutcomeRef">{{ 'Outcome reference' | translate }}</label>
                            <div class="col-sm-8">
                            <textarea type="text" class="form-control" id="privacyCommitteeOutcomeRef" name="privacyCommitteeOutcomeRef" placeholder="{{ 'Outcome Reference' | translate }}"
                                  ng-model="request.privacyCommitteeOutcomeRef"></textarea>
                            </div>
                        </div>

                        <!-- Outcome Emails -->
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="privacyCommitteeEmails">{{ 'Emailing history' | translate }}</label>
                            <div class="col-sm-8">
                            <textarea type="text" class="form-control" id="privacyCommitteeEmails" name="privacyCommitteeEmails" placeholder="{{ 'Emailing History' | translate }}"
                                      ng-model="request.privacyCommitteeEmails"></textarea>
                            </div>
                        </div>

                    </div> <!-- endif in 'Review' status and user type 'palga' -->

                  <!--Upload Files if in 'DataDelivery' status-->
                  <div ng-include="'app/request/upload-file.html'" ng-if="request.status=='DataDelivery'"></div>

                    <!--Approvals-->
                    <div ng-include="'app/request/approvals.html'"
                         ng-if="request.status=='Approval' &&
                         (  globals.currentUser.roles.indexOf('palga') != -1 ||
                            globals.currentUser.roles.indexOf('scientific_council') != -1)"></div>


                <div ng-if="request.status=='Approval' &&
                        globals.currentUser.roles.indexOf('palga') != -1">
                <h3>{{'Finalisation checks'|translate}}</h3>
                <hr>
                <!-- Scientific council has approved -->
                <div class="form-group" ng-class="">
                    <label class="control-label col-sm-3">
                        &nbsp;
                    </label>
                    <div class="col-sm-8">
                        <input type="checkbox" id="scientificCouncilApproved" name="scientificCouncilApproved"
                               ng-model="request.scientificCouncilApproved"> &nbsp;
                       <label class="normal" for="scientificCouncilApproved">{{ 'The scientific council has approved.' | translate }}</label>
                    </div>
                </div>

                <!-- There are no privacy issues or the privacy committee has approved. -->
                <div class="form-group" ng-class="">
                    <label class="control-label col-sm-3">
                        &nbsp;
                    </label>
                    <div class="col-sm-8">
                        <input type="checkbox" id="privacyCommitteeApproved" name="privacyCommitteeApproved"
                               ng-model="request.privacyCommitteeApproved"> &nbsp;
                        <label class="normal" for="privacyCommitteeApproved">{{ 'There are no privacy issues or the privacy committee has approved.' | translate }}</label>
                    </div>
                </div>
                </div>


                </div> <!--end modal-body-->

                <div class="modal-footer">
                    <button id="submit-new-request" class="btn btn-warning" type="button"
                        ng-if="request.status=='Open'"
                        ng-click="submitRequest(request)"
                        ng-disabled="requestEditForm.$invalid || dataLoading">
                        {{'Submit'|translate}}
                    </button>
                    <button class="btn btn-warning" type="button"
                        ng-if="request.status=='Review' && globals.currentUser.roles.indexOf('palga') != -1"
                        ng-click="submitForApproval(request)"
                        ng-disabled="requestEditForm.$invalid
                            || !request.agreementReached
                            || !request.requesterValid
                            || !request.requesterAllowed
                            || !request.contactPersonAllowed
                            || !request.requesterLabValid
                            || dataLoading
                        ">
                            {{'Submit for approval'|translate}}
                    </button>
                    <button class="btn btn-warning" type="button"
                        ng-if="request.status=='Approval' && globals.currentUser.roles.indexOf('palga') != -1"
                        ng-click="finalise(request)"
                        ng-disabled="requestEditForm.$invalid
                            || !request.scientificCouncilApproved
                            || !request.privacyCommitteeApproved
                            || dataLoading
                        ">
                            {{'Finalise'|translate}}
                    </button>
                    <button class="btn btn-danger" type="button"
                        ng-if="(request.status=='Review' || request.status=='Approval') && globals.currentUser.roles.indexOf('palga') != -1"
                        ng-click="reject(request)"
                        ng-disabled="requestEditForm.$invalid || dataLoading">
                            {{'Reject'|translate}}
                    </button>
                    <button class="btn btn-info" type="submit" ng-click="update(request);"
                            ng-disabled="requestEditForm.$invalid || dataLoading">{{'Save'|translate}}
                    </button>
                    <button id="cancel-new-request" class="btn btn-default" ng-click="cancel(request);">
                        {{'Cancel'|translate}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
