<div class="container-fluid" ng-controller="RequestController">
    <div class="row">

        <!--Side Bar-->
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#/">View</a></li>
            </ul>
        </div>

        <!--Main-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h2>{{request.processInstanceId}} - {{ 'Request' | translate }} {{request.title}}</h2>
            <hr>

            <div style="padding-bottom: 25px;">
                <button class="btn btn-default" type="button"  ng-click="edit(request);" title="Edit"
                        ng-if="(request.status != 'Closed') && (request.status != 'Rejected') && 
                        (
                        (request.status == 'Open' && globals.currentUser.roles.indexOf('requester') != -1) 
                        || (request.status != 'DataDelivery' && globals.currentUser.roles.indexOf('palga') != -1)
                        )"
                        ng-disabled="globals.currentUser.roles.indexOf('palga') != -1 && request.assignee != globals.currentUser.userid">
                    <span><i class="glyphicon glyphicon-pencil"></i></span>
                    {{'Edit' | translate}}
                </button>
                <button ng-if="globals.currentUser.roles.indexOf('palga') != -1"  class="btn btn-default" type="button"  ng-click="focus('#noteText');" title="{{'Notes' | translate}}">
                    <span><i class="glyphicon glyphicon-comment"></i></span>
                    {{'Notes' | translate}}
                </button>
                <a href="mailto:{{request.requesterEmail}}?subject=Request rejected&amp;body=Request rejected.%0AReject reason: {{request.rejectReason}}
                ">
                <button ng-if="globals.currentUser.roles.indexOf('palga') != -1 && request.status == 'Rejected'"  
                class="btn btn-default" type="button" title="{{'Mail requester' | translate}}">
                    <span><i class="glyphicon glyphicon-envelope"></i></span>
                    {{'Mail requester' | translate}}
                </button>
                </a>
                <button ng-if="(request.status != 'Closed') && (request.status != 'Rejected') && 
                (globals.currentUser.roles.indexOf('palga') != -1)" ng-show="request.assignee != globals.currentUser.userid" 
                class="btn btn-default" type="button"  ng-click="claim(request);" title="Claim">
                    <span><i class="glyphicon glyphicon-eye-open"></i></span>
                    {{'Claim' | translate}}
                </button>
                <button ng-if="globals.currentUser.roles.indexOf('palga') != -1" ng-show="request.assignee == globals.currentUser.userid" class="btn btn-default" type="button"  ng-click="unclaim(request);" title="Claim">
                    <span><i class="glyphicon glyphicon-eye-close"></i></span>
                    {{'Unclaim' | translate}}
                </button>
                <button class="btn btn-default" type="button"  ng-click="remove(request)" title="{{'Delete' | translate}}"
                        ng-if="request.status == 'Open'">
                    <span><i class="glyphicon glyphicon-trash"></i></span>
                    {{'Delete' | translate}}
                </button>
            </div>

            <!-- Alert -->
            <div ng-repeat="alert in alerts" class="alert alert-{{alert.type}}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="closeAlert();">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{alert.msg | translate}}
            </div>


            <!-- Status -->
            <div class="row">
                <label class="control-label col-sm-3">{{ 'Status' | translate }}</label>
                <p class="col-sm-7">
                    {{request.status}}
                    <br>
                </p>
            </div>

            <!-- Reject reason  -->
            <div class="row" ng-if="request.status == 'Rejected'">
                <label class="control-label col-sm-3">{{ 'Reject reason' | translate }}</label>
                <p class="col-sm-7">
                    {{request.rejectReason}}
                    <br>
                </p>
            </div>

            <!-- Requester -->
            <div class="row">
                <label class="control-label col-sm-3">{{ 'Requester' | translate }}</label>
                <p class="col-sm-7">
                    {{request.requesterName}}
                    <br>
                </p>
            </div>
            <div class="row" ng-if="request.requester.contactData">
                <label class="control-label col-sm-3">{{ 'Contact data' | translate }}</label>
                <address  class="col-sm-7">
                     {{request.requester.contactData.address1}}
                     <br ng-if="request.requester.contactData.address1">
                     {{request.requester.contactData.address2}}
                     <br ng-if="request.requester.contactData.address2">
                     {{request.requester.contactData.postalCode}} {{request.requester.contactData.city}}
                    <span ng-if="request.requester.contactData.telephone">
                        <span><i class="glyphicon glyphicon-earphone"></i></span> 
                        {{request.requester.contactData.telephone}}
                    </span>
                    <br ng-if="request.requester.contactData.telephone">
                    <span><i class="glyphicon glyphicon-envelope"></i></span>
                    <a href="mailto:{{request.requester.contactData.email}}">{{request.requester.contactData.email}}</a>
                </address>
            </div>

            <h3>{{ 'Details' | translate }}</h3>
            <hr>


            <!-- Principal Investigator -->
            <div class="row">
                <label class="control-label col-sm-3">{{ 'Principal Investigator' | translate }}</label>
                <p class="col-sm-7">
                    {{request.contactPersonName}}
                </p>
            </div>

            <!-- Title -->
            <div class="row">
                <label class="control-label col-sm-3">{{ 'Title' | translate }}</label>
                <p class="col-sm-7">
                    {{request.title}}
                </p>
            </div>

            <!--Background -->
            <div class="row">
                <label class="control-label col-sm-3">{{ 'Background' | translate }}</label>
                <div class="col-sm-7">
                    {{request.background}}
                </div>
            </div>

            <!-- Research Question -->
            <div class="row">
                <label class="control-label col-sm-3">{{ ' Research Question' | translate }}</label>
                <div class="col-sm-7">
                    {{request.researchQuestion}}
                </div>
            </div>

            <!-- Hypothesis -->
            <div class="row">
                <label class="control-label col-sm-3">{{ 'Hypothesis' | translate }}</label>
                <div class="col-sm-7">
                    {{request.hypothesis}}
                </div>
            </div>

            <!-- Methods -->
            <div class="row">
                <label class="control-label col-sm-3">{{ 'Methods' | translate }}</label>
                <div class="col-sm-7">
                    {{request.methods}}
                </div>
            </div>

            <!-- Request Type -->
            <div class="row">
                <label class="control-label col-sm-3">{{ 'Request Type' | translate }}</label>
                <div class="col-sm-7" ng-init="">
                    {{"Request_Type_" + request.type | translate}}
                </div>
            </div>

            <!-- Data Linkage -->
            <div class="row" ng-show="request.type != '1'">
                <label class="control-label col-sm-3">
                    &nbsp;
                </label>

                <div class="col-sm-7">
                    <span><i class="glyphicon {{request.linkageWithPersonalData ? 'glyphicon-check' : 'glyphicon-unchecked'}}"></i></span>
                    &nbsp;{{'Data linkage'|translate}} 
                    <br>
                    (<em><span ng-if="request.linkageWithPersonalData">{{ 'Linkage with own or external personal data.' |
                    translate }}</span><span 
                    ng-if="!request.linkageWithPersonalData">{{ 'No data linkage required.' |
                    translate }}</span></em>)
                </div>
            </div>

            <!-- Informed Consent -->
            <div class="row" ng-show="request.type != '1'">
                <label class="control-label col-sm-3">
                    &nbsp;
                </label>

                <div class="col-sm-7">
                    <span><i class="glyphicon {{request.informedConsent ? 'glyphicon-check' : 'glyphicon-unchecked'}}"></i></span>
                    &nbsp; {{ 'Informed Consent.' |
                    translate }}
                </div>
            </div>

            <!-- Reason Using Personal Data -->
            <div class="row" ng-show="request.type != '1'">
                <label class="control-label col-sm-3">{{ 'Reason using personal data' | translate }}</label>
                <div class="col-sm-7">
                    {{request.reasonUsingPersonalData}}
                </div>
            </div>

            <br>

            <h4>{{ 'Attachments' | translate }}</h4>
            <hr>

            <div ng-show="request.attachments.length < 1"><p><i>{{'No attachment found.' | translate}}</i></p></div>

            <ul class="list-group" id="attachments">
                <li class="list-group-item" ng-repeat="file in request.attachments">
                    <label><a ng-href="/requests/{{request.processInstanceId}}/files/{{file.id}}">{{file.name}}</a></label>
                </li>
            </ul>


            <div ng-if="request.status=='Review' && roles.indexOf('palga') != -1">
                <br>

                <h3>{{'Checks by Palga'|translate}}</h3>
                <hr>

                <!-- Requester valid -->
                <div class="row">
                    <label class="control-label col-sm-3">
                        &nbsp;
                    </label>
                    <div class="col-sm-7">
                        <span><i class="glyphicon {{request.requesterValid ? 'glyphicon-check' : 'glyphicon-unchecked'}}"></i></span>
                        &nbsp; {{ 'The requester has been checked and is valid.' | translate }}
                    </div>
                </div>

                <!-- Lab -->
                <div class="row">
                    <br>
                    <label class="control-label col-sm-3">
                       {{'Lab' | translate}}
                    </label>
                    <div class="col-sm-7">
                        <span ng-if="request.lab.number">{{request.lab.number}} {{request.lab.name}}</span>
                        <div ng-if="!request.lab.number" class="alert alert-warning"><em>{{'No lab selected.'|translate}}</em></div>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-sm-3">
                        &nbsp;
                    </label>
                    <div class="col-sm-7">
                        <span><i class="glyphicon {{request.requesterLabValid ? 'glyphicon-check' : 'glyphicon-unchecked'}}"></i></span>
                        &nbsp; {{ 'The requester has been confirmed to be associated with the lab.' | translate }}
                    </div>
                </div>

                <!-- Requester allowed -->
                <div class="row">
                    <label class="control-label col-sm-3">
                        &nbsp;
                    </label>
                    <div class="col-sm-7">
                        <span><i class="glyphicon {{request.requesterAllowed ? 'glyphicon-check' : 'glyphicon-unchecked'}}"></i></span>
                        &nbsp; {{ 'The requester is allowed to file the request.' | translate }}
                    </div>
                </div>

                <!-- Contact person allowed -->
                <div class="row">
                    <label class="control-label col-sm-3">
                        &nbsp;
                    </label>
                    <div class="col-sm-7">
                        <span><i class="glyphicon {{request.contactPersonAllowed ? 'glyphicon-check' : 'glyphicon-unchecked'}}"></i></span>
                        &nbsp; {{ 'The contact person been checked and is authorised to support the request.' | translate }}
                    </div>
                </div>

                <h4>{{'Signed Agreement'|translate}}</h4>
                <hr>

                <!-- Agreement reached -->
                <div class="row">
                    <label class="control-label col-sm-3">
                        &nbsp;
                    </label>
                    <div class="col-sm-7">
                        <span><i class="glyphicon {{request.agreementReached ? 'glyphicon-check' : 'glyphicon-unchecked'}}"></i></span>
                        &nbsp; {{ 'Agreement has been reached.' | translate }}
                    </div>
                </div>

                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="file in request.agreementAttachments">
                        <label><a ng-href="/requests/{{request.processInstanceId}}/files/{{file.id}}">{{file.name}}</a></label>
                    </li>
                </ul>

                <br>

            </div>
            
            
            <div ng-if="request.status=='Approval' && roles.indexOf('palga') != -1">

                <!--*****************-->
                <!--Privacy Committee-->
                <!--*****************-->
                <br>

                <h3>{{'Privacy committee checks'|translate}}</h3>
                <hr>

                <!-- Has this request has been sent to Privacy Committee -->
                <div class="row">
                    <label class="control-label col-sm-3">
                        &nbsp;
                    </label>
                    <div class="col-sm-7">
                        <span><i class="glyphicon {{request.sentToPrivacyComm ? 'glyphicon-check' : 'glyphicon-unchecked'}}"></i></span>
                        &nbsp; {{ 'This request has been sent to Privacy Committee to be checked.' | translate }}
                    </div>
                </div>

                <!-- Outcome -->
                <div class="row">
                    <label class="control-label col-sm-3">{{ 'Outcome' | translate }}</label>
                    <div class="col-sm-7">
                        {{request.privacyCommitteeOutcome}}
                    </div>
                </div>

                <!-- Outcome Reference -->
                <div class="row">
                    <label class="control-label col-sm-3">{{ 'Outcome Reference' | translate }}</label>
                    <div class="col-sm-7">
                        {{request.privacyCommitteeOutcomeRef}}
                    </div>
                </div>

                <!-- Outcome Emails -->
                <div class="row">
                    <label class="control-label col-sm-3">{{ 'Emailing History' | translate }}</label>
                    <div class="col-sm-7">
                        {{request.privacyCommitteeEmails}}
                    </div>
                </div>

                <br>

                </div>

            <!--Approvals-->
            <div ng-include="'app/request/approvals.html'"
                 ng-if="request.status=='Approval' &&
                         (  globals.currentUser.roles.indexOf('palga') != -1 ||
                            globals.currentUser.roles.indexOf('scientific_council') != -1)"></div>
            <!--Comments-->
            <div ng-include="'app/request/comments.html'" ng-if="globals.currentUser.roles.indexOf('palga') != -1"></div>

            <!-- If in 'DataDelivery' status -->
            <div ng-if="request.status=='DataDelivery'">
            
                <!-- If the request is not a statistics request (but also requires uploading an excerpt list) -->
                <div ng-if="!request.statisticsRequest">
                
                <h4>{{'Excerpt list'|translate}}</h4>
                <hr>
                <label ng-if="request.excerptList">
                    <a ng-href="/requests/{{request.processInstanceId}}/excerptList/csv">excerpts_{{request.processInstanceId}}.csv</a>
                </label>
                
                <div flow-init="flow_options({target:'/requests/'+request.processInstanceId+'/excerptList'})"
                     flow-name="excerptListFlow"
                     flow-files-submitted="$scope.excerptlist_upload_error = ''; $scope.fileupload_result = ''; $flow.upload()"
                     flow-file-success="fileuploadsuccess(request, $message, true)"
                     flow-file-error="fileuploaderror($message, true)"
                     ng-if="globals.currentUser.roles.indexOf('palga') != -1"
                        >
                    <div class="alert alert-success" role="alert" ng-show="excerptlist_upload_result == 'success'">
                        {{ 'Excerpt list uploaded.' | translate }}
                    </div>
                    <div class="alert alert-danger" role="alert" ng-show="excerptlist_upload_result == 'error'">
                        {{ excerptlist_upload_error | translate }}
                    </div>
                    
                    <div>
                        <span class="btn btn-default" flow-btn
                        ng-disabled="request.assignee != globals.currentUser.userid"
                        >{{'Upload excerpt list'|translate}}</span>
                    </div>
                    <br>
                    <div class="alert" flow-drop style="border: 2px dashed gray; text-align: center"
                         flow-drag-enter="style={border:'4px dashed lightgreen'}"
                         flow-drag-leave="style={border: '2px dashed gray'}"
                         ng-style="style">
                        ({{'drag and drop your file here'|translate}})
                    </div>
                </div>
                
                <div ng-if="request.excerptList && globals.currentUser.roles.indexOf('requester') != -1">
                    <a ng-href="/#/request/{{request.processInstanceId}}/selection">
                    <button type="button" class="btn btn-primary">
                        {{'Select PA numbers'|translate}}
                    </button>
                    </a>
                </div>
                
                </div>
                
                <h4>{{request.statisticsRequest?'Data files':'Other data files'|translate}}</h4>
                <hr>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="file in request.dataAttachments">
                        <label><a ng-href="/requests/{{request.processInstanceId}}/files/{{file.id}}">{{file.name}}</a></label>
                        <span class="pull-right">
                        <span class="btn-group">
                            <button class="btn btn-default" type="button" title="Delete"
                                    ng-click="removeDataFile(file)"
                                    >
                                Delete
                            </button>
                        </span>
                        </span>
                    </li>
                </ul>
                <p ng-if="!request.dataAttachments || request.dataAttachments.length < 1">
                    <i>{{'No data files.'|translate}}</i>
                </p>

                <div flow-init="flow_options({target:'/requests/'+request.processInstanceId+'/dataFiles'})"
                     flow-name="dataFlow"
                     flow-files-submitted="uploadDataFile($flow)"
                     flow-file-success="fileuploadsuccess(request, $message)"
                     flow-file-error="fileuploaderror($message)"
                     ng-if="globals.currentUser.roles.indexOf('palga') != -1"
                        >
                    <div class="alert alert-success" role="alert" ng-show="fileupload_result == 'success'">
                        {{ 'File uploaded.' | translate }}
                    </div>
                    <div class="alert alert-danger" role="alert" ng-show="fileupload_result == 'error'">
                        {{ 'Error uploading file.' | translate }}
                    </div>
                        
                    <p>
                    (<em>{{'Maximum file size 10 MB.'|translate}}</em>)
                    </p>
                    <div>
                        <span class="btn btn-default" flow-btn
                            ng-disabled="request.assignee != globals.currentUser.userid"
                            >{{'Upload data files'|translate}}</span>
                    </div>
                    <br>
                    <div class="alert" flow-drop style="border: 2px dashed gray; text-align: center"
                         flow-drag-enter="style={border:'4px dashed lightgreen'}"
                         flow-drag-leave="style={border: '2px dashed gray'}"
                         ng-style="style">
                        ({{'drag and drop your file here'|translate}})
                    </div>
                </div>
                
                <div ng-if="(!request.paReportRequest && !request.materialsRequest)
                    && globals.currentUser.roles.indexOf('palga') != -1">
                    <button type="button" class="btn btn-primary"
                        ng-disabled="request.assignee != globals.currentUser.userid"
                        ng-click="closeRequest(request)"
                        >
                        {{'Close request'|translate}}
                    </button>
                    </a>
                </div>

            </div> <!-- endif DataDelivery -->

            <div ng-if="request.status == 'LabRequest'">
            
            <h3>{{ 'Lab request details' | translate }}</h3>
            <hr>

            <!-- Excerpt list remark -->
            <div class="row">
                <label class="control-label col-sm-3">{{ 'Remark' | translate }}</label>
                <div class="col-sm-7">
                    {{request.excerptListRemark}}
                </div>
            </div>
            
            </div> <!-- endif LabRequest -->


        </div>

    </div> <!--end row-->
</div>
<br>
<br>
