<div>
    <!-- Status -->
    <div class="row">
        <label class="control-label col-xs-4 col-sm-4">{{ 'Status' | translate }}</label>
        <p class="col-xs-6 col-sm-6" id="requestStatus">
            {{ getStatusText(request) | translate}}
            <br>
        </p>
    </div>

    <!-- Reject reason  -->
    <div class="row" ng-if="request.status == 'Rejected'">
        <label class="control-label col-xs-4 col-sm-4">{{ 'Reject reason' | translate }}</label>
        <p class="col-xs-6 col-sm-6">
            {{request.rejectReason}}
            <br>
        </p>
    </div>

    <!-- Requester -->
    <div class="row">
        <label class="control-label col-xs-4 col-sm-4">{{ 'Requester' | translate }}</label>
        <p class="col-xs-6 col-sm-6">
            {{request.requesterName}}
            <br>
        </p>
    </div>
    <div class="row">
        <label class="control-label col-xs-4 col-sm-4">{{ 'Contact information' | translate }}</label>
        <contact-data-address contact-data="request.requester.contactData" class="col-xs-6 col-sm-6"></contact-data-address>
    </div>

    <!-- Parent request -->
    <div class="row" ng-if="request.parent">
        <label class="control-label col-xs-4 col-sm-4">{{ 'Main request' | translate }}</label>
        <p class="col-xs-6 col-sm-6">
            <a ng-href="/#/request/view/{{request.parent.processInstanceId}}"
            >{{request.parent.requestNumber}}</a>
        </p>
    </div>
    <!-- Additional requests -->
    <div ng-if="!request.parent && (isPalga() || request.children.length > 0 )">
        <h4 class="h4">{{'Additional requests' | translate}}</h4>
        <button class="btn btn-default no-print" type="button" ng-click="fork(request)"
                title="{{'Create additional request' | translate}}"
                id="create_additional_request"
                ng-if="!request.parent &&
                    isPalga() &&
                    (request.status == 'LabRequest' || request.status == 'Closed')
                    && isForkEnabled(request)">
            <span><i class="glyphicon glyphicon-duplicate"></i></span>
            {{'Create additional request' | translate}}
        </button>
        <em ng-if="request.children.length == 0">{{'No additional requests.'|translate}}</em>
        <table ng-if="request.children.length > 0" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 33.3%">{{'Request number' | translate}}</th>
            <th>{{'Status' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="child in request.children">
            <td><a ng-href="/#/request/view/{{child.processInstanceId}}"
            >{{child.requestNumber}}</a></td>
            <td>{{child.status | translate}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2"></td>
        </tr>
        </tfoot>
        </table>
    </div>

    <h4 class="h4">{{ 'Request details' | translate }}</h4>

    <!-- Principal Investigator -->
    <div class="row">
        <label class="control-label col-xs-4 col-sm-4">{{ 'Principal investigator' | translate }}</label>
        <p class="col-xs-6 col-sm-6">
            {{request.contactPersonName}}
        </p>
    </div>

    <!-- Principal Investigator -->
    <div class="row">
        <label class="control-label col-xs-4 col-sm-4">{{ 'Principal investigator email' | translate }}</label>
        <p class="col-xs-6 col-sm-6">
            <span><i class="glyphicon glyphicon-envelope"></i></span>
            <a class="no-print-url" href="mailto:{{request.contactPersonEmail}}">{{request.contactPersonEmail}}</a>
        </p>
    </div>

    <!-- Pathologist name -->
    <div class="row">
        <label class="control-label col-xs-4 col-sm-4">{{ 'Pathologist' | translate }}</label>
        <p class="col-xs-6 col-sm-6">
            {{request.pathologistName}}
        </p>
    </div>

    <!-- Pathologist email -->
    <div class="row">
        <label class="control-label col-xs-4 col-sm-4">{{ 'Pathologist email' | translate }}</label>
        <p class="col-xs-6 col-sm-6">
            <span><i class="glyphicon glyphicon-envelope"></i></span>
            <a class="no-print-url" href="mailto:{{request.pathologistEmail}}">{{request.pathologistEmail}}</a>
        </p>
    </div>


    <!-- Previous contact -->
    <div class="row">
        <label class="control-label col-xs-4 col-sm-4">
            {{'Previous contact'|translate}}
        </label>

        <div class="col-xs-6 col-sm-6">
            {{request.previousContact ? 'Yes' : 'No' | translate}}
            <br>
            <p ng-if="request.previousContact">
            {{request.previousContactDescription}}
            </p>
        </div>
    </div>

    <!-- Title -->
    <div class="row">
        <label class="control-label col-xs-4 col-sm-4">{{ 'Running title' | translate }}</label>
        <p class="col-xs-6 col-sm-6">
            {{request.title}}
        </p>
    </div>

    <!--Background -->
    <div class="row">
        <label class="control-label col-xs-4 col-sm-4">{{ 'Background' | translate }}</label>
        <p class="col-xs-6 col-sm-6">
            {{request.background}}
        </p>
    </div>

    <!-- Research Question -->
    <div class="row">
        <label class="control-label col-xs-4 col-sm-4">{{ ' Research question' | translate }}</label>
        <p class="col-xs-6 col-sm-6">
            {{request.researchQuestion}}
        </p>
    </div>

    <!-- Hypothesis -->
    <div class="row">
        <label class="control-label col-xs-4 col-sm-4">{{ 'Hypothesis' | translate }}</label>
        <p class="col-xs-6 col-sm-6">
            {{request.hypothesis}}
        </p>
    </div>

    <!-- Methods -->
    <div class="row">
        <label class="control-label col-xs-4 col-sm-4">{{ 'Methods' | translate }}</label>
        <p class="col-xs-6 col-sm-6">
            {{request.methods}}
        </p>
    </div>

    <!-- Search criteria -->
    <div class="row">
        <label class="control-label col-xs-4 col-sm-4">{{ 'Search criteria' | translate }}</label>
        <p class="col-xs-6 col-sm-6">
            {{request.searchCriteria}}
        </p>
    </div>

    <!-- Study period -->
    <div class="row">
        <label class="control-label col-xs-4 col-sm-4">{{ 'Study period' | translate }}</label>
        <p class="col-xs-6 col-sm-6">
            {{request.studyPeriod}}
        </p>
    </div>

    <!-- Laboratory techniques -->
    <div class="row">
        <label class="control-label col-xs-4 col-sm-4">{{ 'Laboratory techniques' | translate }}</label>
        <p class="col-xs-6 col-sm-6">
            {{request.laboratoryTechniques}}
        </p>
    </div>

    <!-- Request Type -->
    <div class="row">
        <label class="control-label col-xs-4 col-sm-4">{{ 'Request type' | translate }}</label>
        <div class="col-xs-6 col-sm-6">
            <div ng-if="request.statisticsRequest">{{'Numbers only, exploratory request'|translate}}<br /></div>
            <div ng-if="request.excerptsRequest">{{'Excerpts'|translate}}<br /></div>
            <div ng-if="request.paReportRequest">{{'PA reports'|translate}}<br /></div>
            <div ng-if="request.materialsRequest">{{'PA material'|translate}}<br /></div>
            <div ng-if="request.clinicalDataRequest">{{'Clinical data from practitioner'|translate}}<br /></div>
        </div>
    </div>

    <!-- Billing address -->
    <div class="row">
        <label class="control-label col-xs-4 col-sm-4">{{ 'Billing address' | translate }}</label>
        <contact-data-address contact-data="request.billingAddress" class="col-xs-6 col-sm-6"></contact-data-address>
    </div>

    <!-- Charge number -->
    <div class="row">
        <label class="control-label col-xs-4 col-sm-4">{{ 'Charge number' | translate }}</label>
        <p class="col-xs-6 col-sm-6">
            {{request.chargeNumber}}
        </p>
    </div>

    <!-- Grant provider -->
    <div class="row">
        <label class="control-label col-xs-4 col-sm-4">{{ 'Grant provider' | translate }}</label>
        <p class="col-xs-6 col-sm-6">
            {{request.grantProvider}}
        </p>
    </div>

    <!-- Research number -->
    <div class="row">
        <label class="control-label col-xs-4 col-sm-4">{{ 'Grant number' | translate }}</label>
        <p class="col-xs-6 col-sm-6">
            {{request.researchNumber}}
        </p>
    </div>

    <!-- Biobank Request Number -->
    <div class="row" >
        <label class="control-label col-xs-4 col-sm-4">
            {{'Biobank request number'|translate}}
        </label>
        <div class="col-xs-6 col-sm-6">
            {{request.biobankRequestNumber }}
        </div>
    </div>

    <!-- Germline mutation -->
    <div class="row" >
        <label class="control-label col-xs-4 col-sm-4">
            {{'Germline mutation analysis'|translate}}
        </label>
        <div class="col-xs-6 col-sm-6">
            {{request.germlineMutation ? 'Yes' : 'No' | translate}}
        </div>
    </div>

    <!-- Data Linkage -->
    <div class="row" ng-if="request.type != '1'">
        <label class="control-label col-xs-4 col-sm-4">
            {{'Data linkage'|translate}}
        </label>
        <div class="col-xs-6 col-sm-6">
            {{request.linkageWithPersonalData ? 'Linkage with own patients or cohort or linkage between registries.' :
              'No data linkage required.' | translate }}
        </div>
    </div>

    <div ng-if="request.type != '1' && request.linkageWithPersonalData">
        <div class="row" ng-if="request.linkageWithPersonalDataNotes">
            <label class="control-label col-xs-4 col-sm-4">
                {{ 'Data linkage information' | translate }}
            </label>
            <div class="col-xs-6 col-sm-6">
                {{request.linkageWithPersonalDataNotes}}
            </div>
        </div>

        <!-- Informed Consent -->
        <div class="row">
            <label class="control-label col-xs-4 col-sm-4">
                {{ 'Informed consent (IC)' | translate }}
            </label>
            <div class="col-xs-6 col-sm-6">
                {{request.informedConsent ? 'Yes' : 'No' | translate}}
            </div>
        </div>



        <!-- Reason Using Personal Data -->
        <div class="row" ng-if="request.reasonUsingPersonalData">
            <label class="control-label col-xs-4 col-sm-4">{{ 'Explanation why linkage is allowed without informed consent' | translate }}</label>
            <p class="col-xs-6 col-sm-6">
                {{request.reasonUsingPersonalData}}
            </p>
        </div>
    </div>

    <!-- Informed Consent Attachments -->
    <h4 class="h4">
        {{ 'Informed consent (IC) forms' | translate }}
    </h4>
    <div class="row">
        <div class="col-xs-6 col-sm-6">
            <div ng-if="request.informedConsentFormAttachments.length == 0"><p><i>{{'No forms uploaded.' | translate}}</i></p></div>
            <div class="list-group files" id="icforms">
                <a ng-repeat="file in request.informedConsentFormAttachments"
                   ng-href="/requests/{{request.processInstanceId}}/informedConsentFormFiles/{{file.id}}"
                   class="list-group-item">
                    <span><i class="glyphicon glyphicon-file"></i></span>
                    {{file.name}}
                </a>
            </div>
        </div>
    </div>


    <h4 class="h4">{{ 'Attachments' | translate }}</h4>

    <div class="row">
        <div class="col-xs-6 col-sm-6">
            <div ng-if="request.attachments.length == 0"><p><i>{{'No attachments uploaded.' | translate}}</i></p></div>
            <div class="list-group files" id="attachments">
                <a ng-repeat="file in request.attachments"
                   ng-href="/requests/{{request.processInstanceId}}/files/{{file.id}}"
                   class="list-group-item no-print-url">
                    <i class="glyphicon glyphicon-file"></i> {{file.name}}
                </a>
            </div>
        </div>
    </div>

    <h4 class="h4">{{ 'Letter of medical research ethics committee' | translate }}</h4>

    <div class="row">
        <div class="col-xs-6 col-sm-6">
            <div ng-if="request.medicalEthicalCommitteeApprovalAttachments.length == 0"><p><i>{{'No attachments uploaded.' | translate}}</i></p></div>
            <div class="list-group files" id="medicalEthicalCommitteeApprovalAttachments">
                <a ng-repeat="file in request.medicalEthicalCommitteeApprovalAttachments"
                   ng-href="/requests/{{request.processInstanceId}}/files/{{file.id}}"
                   class="list-group-item no-print-url">
                    <i class="glyphicon glyphicon-file"></i> {{file.name}}
                </a>
            </div>
        </div>
    </div>

    <div ng-if="isPalga()">
        <h4 class="h4 h4-palga">{{'Authentification checks by PALGA'|translate}}</h4>

        <!-- Requester valid -->
        <div class="row">
            <label class="control-label col-xs-4 col-sm-4">
            {{ 'Requester\'s identity was established.' | translate }}
            </label>
            <span class="col-xs-6 col-sm-6">
            {{request.requesterValid ? 'Yes' : '&ndash;' | translate}}
            </span>
        </div>

        <!-- Lab -->
        <div class="row">
            <br>
            <span class="col-sm-10">
            <label class="control-label">{{'Lab' | translate}}</label>:
            <span ng-if="request.lab.number">{{request.lab.number}}. {{request.lab.name}}</span>
            <span ng-if="!request.lab.number" class="alert alert-warning"><em>{{'No lab selected.'|translate}}</em></span>
            </span>
        </div>
        <div class="row">
            <label class="control-label col-xs-4 col-sm-4">
            {{ 'Requester indeed works at or collaborates with the pathology laboratory mentioned.' | translate }}
            </label>
            <span class="col-xs-6 col-sm-6">
            {{request.requesterLabValid ? 'Yes' : '&ndash;' | translate}}
            </span>
        </div>

        <!-- Requester allowed -->
        <div class="row">
            <label class="control-label col-xs-4 col-sm-4">
            {{ 'The requester is allowed to submit the request.' | translate }}
            </label>
            <span class="col-xs-6 col-sm-6">
            {{request.requesterAllowed ? 'Yes' : '&ndash;' | translate}}
            </span>
        </div>

        <!-- Contact person allowed -->
        <div class="row">
            <label class="control-label col-xs-4 col-sm-4">
            {{ 'The contact person been checked and is authorised to support the request.' | translate }}
            </label>
            <span class="col-xs-6 col-sm-6">
            {{request.contactPersonAllowed ? 'Yes' : '&ndash;' | translate}}
            </span>
        </div>

        <h4 class="h4 h4-palga">{{'Authentification and agreement request'|translate}}</h4>

        <!-- Agreement reached -->
        <div class="row">
            <label class="control-label col-xs-4 col-sm-4">
            {{ 'Agreement has been reached.' | translate }}
            </label>
            <span class="col-xs-6 col-sm-6">
            {{request.agreementReached ? 'Yes' : '&ndash;' | translate}}
            </span>
        </div>

        <div class="list-group files">
            <a ng-repeat="file in request.agreementAttachments"
               ng-href="/requests/{{request.processInstanceId}}/files/{{file.id}}"
               class="list-group-item no-print-url">
                <span><i class="glyphicon glyphicon-file"></i></span> {{file.name}}
            </a>
        </div>

    </div>


    <div ng-if="isPalga()">

        <!--*****************-->
        <!--Privacy Committee-->
        <!--*****************-->
        <h4 class="h4 h4-palga">{{'Review by PALGA privacy commitee'|translate}}</h4>

        <!-- Has this request has been sent to Privacy Committee -->
        <!--
        <div class="row">
            <label class="control-label col-xs-4 col-sm-4">
            {{ 'This request was sent by email to the privacy committee.' | translate }}
            </label>
            <span class="col-xs-6 col-sm-6">
            {{request.sentToPrivacyCommittee ? 'Yes' : 'No' | translate}}
            </span>
        </div>
        -->

        <!-- Review rationale -->
        <div class="row">
            <label class="control-label col-xs-4 col-sm-4">{{ 'Review PPC' | translate }}</label>
            <p class="col-xs-6 col-sm-6">
                {{request.privacyCommitteeRationale | translate}}
            </p>
        </div>

        <!-- Review result -->
        <div class="row">
            <label class="control-label col-xs-4 col-sm-4">{{ 'Review result' | translate }}</label>
            <p class="col-xs-6 col-sm-6">
                {{request.privacyCommitteeOutcome}}
            </p>
        </div>

        <!-- Outcome Reference -->
        <div class="row">
            <label class="control-label col-xs-4 col-sm-4">{{ 'Explanation for PPC' | translate }}</label>
            <p class="col-xs-6 col-sm-6">
                {{request.privacyCommitteeOutcomeRef}}
            </p>
        </div>

        <!-- Outcome Emails -->
        <div class="row">
            <label class="control-label col-xs-4 col-sm-4">{{ 'Summary review process' | translate }}</label>
            <p class="col-xs-6 col-sm-6">
                {{request.privacyCommitteeEmails}}
            </p>
        </div>

    </div>

    <!--Approvals-->
    <div ng-include="'app/request/approvals.html'"
         ng-if="isPalga() ||
                ((request.status=='Approval' || request.approvalVotes != null) && isScientificCouncil() )">
    </div>
    <!--Comments-->
    <div ng-include="'app/request/comments.html'" ng-if="isPalga()"></div>

    <!--Upload Files if in 'DataDelivery' status-->
    <div class="no-print" ng-include="'app/request/upload-file.html'"
        ng-if="!isScientificCouncil() && (request.status=='DataDelivery' || request.status=='SelectionReview' || request.status=='LabRequest' || request.status=='Closed')"></div>

    <div ng-if="!isScientificCouncil() && request.status == 'LabRequest'">

    <div ng-if="request.excerptListRemark">
        <h4 class="h4">{{ 'Lab request details' | translate }}</h4>

        <!-- Excerpt list remark -->
        <div class="row">
            <label class="control-label col-xs-4 col-sm-4">{{ 'Remark' | translate }}</label>
            <p class="col-xs-6 col-sm-6">
                {{request.excerptListRemark}}
            </p>
        </div>
    </div>

    </div> <!-- endif LabRequest -->

</div>
