  <br>

  <h3>{{'Checks by Palga'|translate}}</h3>
  <hr>

  <!-- Requester valid -->
  <div class="form-group" ng-class="">
    <label class="control-label col-sm-3">
      &nbsp;
    </label>
    <div class="col-sm-8">
      <input type="checkbox" id="requesterValid" name="requesterValid" value="1"
             ng-model="request.requesterValid"> &nbsp;
      <label class="normal" for="requesterValid">{{ 'The requester has been checked and is valid.' | translate }}</label>
    </div>
  </div>

  <!-- Requester valid Lab-->
  <div class="form-group" ng-class="">
    <br>
    <label class="control-label col-sm-3">
      {{'Lab' | translate}}
    </label>
    <div class="col-sm-8 form-control-static" >
      <span ng-if="request.lab.number">{{request.lab.number}} {{request.lab.name}}</span>
      <div ng-if="!request.lab.number" class="alert alert-warning"><em>{{'No lab selected.'|translate}}</em></div>
    </div>
  </div>
  <div class="form-group" ng-class="">
    <label class="control-label col-sm-3">
      &nbsp;
    </label>
    <div class="col-sm-8">
      <input type="checkbox" id="requesterLabValid" name="requesterLabValid" value="1"
             ng-model="request.requesterLabValid"> &nbsp;
      <label class="normal" for="requesterLabValid">{{ 'The requester has been confirmed to be associated with the lab.' | translate }}</label>
    </div>
  </div>

  <!-- Requester allowed -->
  <div class="form-group" ng-class="">
    <label class="control-label col-sm-3">
      &nbsp;
    </label>
    <div class="col-sm-8">
      <input type="checkbox" id="requesterAllowed" name="requesterAllowed" value="1"
             ng-model="request.requesterAllowed"> &nbsp;
      <label class="normal" for="requesterAllowed">{{ 'The requester is allowed to file the request.' | translate }}</label>
    </div>
  </div>

  <!-- Contact person allowed -->
  <div class="form-group" ng-class="">
    <label class="control-label col-sm-3">
      &nbsp;
    </label>
    <div class="col-sm-8">
      <input type="checkbox" id="contactPersonAllowed" name="contactPersonAllowed" value="1"
             ng-model="request.contactPersonAllowed"> &nbsp;
      <label class="normal" for="contactPersonAllowed">{{ 'The contact person been checked and is authorised to support the request.' | translate }}</label>
    </div>
  </div>

  <br>

  <h3>{{'Signed agreement'|translate}}</h3>
  <hr>

  <!-- Agreement reached -->
  <div class="form-group" ng-class="">
    <label class="control-label col-sm-3">
      &nbsp;
    </label>
    <div class="col-sm-8">
      <input type="checkbox" id="agreementReached" name="agreementReached" value="1"
             ng-model="request.agreementReached"> &nbsp;
      <label class="normal" for="agreementReached">{{ 'Agreement has been reached.' | translate }}</label>
    </div>
  </div>

  <ul class="list-group">
    <li class="list-group-item" ng-repeat="file in request.agreementAttachments">
      <label><a ng-href="/requests/{{request.processInstanceId}}/files/{{file.id}}">{{file.name}}</a></label>
                                <span class="pull-right">
                                <span class="btn-group">
                                    <button class="btn btn-default" type="button" title="{{'Delete'|translate}}"
                                            ng-click="removeAgreementFile(file)"
                                            ng-if="request.status=='Review'"
                                      >
                                      {{'Delete'|translate}}
                                    </button>
                                </span>
                                </span>
    </li>
  </ul>
  <!-- Agreement file upload -->
  <div flow-init="Upload.flow_options({target:'/requests/'+request.processInstanceId+'/agreementFiles'})"
       flow-name="agreementFlow"
       flow-files-submitted="fileuploadsubmitted('agreement'); Upload.uploadFile($flow)"
       flow-file-success="Upload.fileUploadSuccess('agreement', $message, $file); fileuploadsuccess(request, $message, 'agreement', $flow)"
       flow-file-error="fileuploaderror(Upload.fileUploadError($message, $file, $flow), 'agreement')"
    >
    <div class="alert alert-danger" role="alert" ng-if="upload_result['agreement'] == 'error'">
        <span ng-bind-html="upload_error['agreement']"></span>
    </div>
    <div>
      <span class="btn btn-default" flow-btn>{{'Upload agreement files'|translate}}</span>
    </div>
    <br>
    <div class="alert" flow-drop style="border: 2px dashed gray; text-align: center"
         flow-drag-enter="style={border:'4px dashed lightgreen'}"
         flow-drag-leave="style={border: '2px dashed gray'}"
         ng-style="style">
      ({{'drag and drop your file here'|translate}})
    </div>
  </div>
  <br>
