<div class="container-fluid" ng-controller="RequestController">
    <div class="row">

        <!--Side Bar-->
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#/">View</a></li>
            </ul>
        </div>

        <!--Main-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h2>{{request.processInstanceId}} - {{ 'Request' | translate }} {{request.title}}</h2>
            <hr>

            <div style="padding-bottom: 25px;">
                <button class="btn btn-default" type="button"  ng-click="edit(request);" title="Edit"
                        ng-hide="(request.status != 'Open' && globals.currentUser.roles.indexOf('palga') == -1) || (globals.currentUser.roles.indexOf('palga') != -1 && request.assignee != globals.currentUser.userid)">
                    <span><i class="glyphicon glyphicon-pencil"></i></span>
                    {{'Edit' | translate}}
                </button>
                <button ng-if="globals.currentUser.roles.indexOf('palga') != -1"  class="btn btn-default" type="button"  ng-click="focus('#commentText');" title="Comment">
                    <span><i class="glyphicon glyphicon-comment"></i></span>
                    {{'Comment' | translate}}
                </button>
                <button ng-if="globals.currentUser.roles.indexOf('palga') != -1" ng-show="request.assignee != globals.currentUser.userid" class="btn btn-default" type="button"  ng-click="claim(request);" title="Claim">
                    <span><i class="glyphicon glyphicon-eye-open"></i></span>
                    {{'Claim' | translate}}
                </button>
                <button ng-if="globals.currentUser.roles.indexOf('palga') != -1" ng-show="request.assignee == globals.currentUser.userid" class="btn btn-default" type="button"  ng-click="unclaim(request);" title="Claim">
                    <span><i class="glyphicon glyphicon-eye-close"></i></span>
                    {{'Unclaim' | translate}}
                </button>
                <button class="btn btn-default" type="button"  ng-click="remove(request)" title="Claim"
                        ng-hide="(request.status != 'Open' && globals.currentUser.roles.indexOf('palga') == -1) || (globals.currentUser.roles.indexOf('palga') != -1 && request.assignee != globals.currentUser.userid)">
                    <span><i class="glyphicon glyphicon-trash"></i></span>
                    {{'Delete' | translate}}
                </button>
            </div>

            <!-- Alert -->
            <div ng-repeat="alert in alerts" class="alert alert-{{alert.type}}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="closeAlert();">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{alert.msg | translate}}
            </div>


            <h3>{{ 'Details' | translate }}</h3>
            <hr>

            <!-- Principal Investigator -->
            <div class="row">
                <label class="control-label col-sm-3">{{ 'Principal Investigator' | translate }}</label>
                <p class="col-sm-7">
                    {{request.contactPersonName}}
                </p>
            </div>

            <!-- Title -->
            <div class="row">
                <label class="control-label col-sm-3">{{ 'Title' | translate }}</label>
                <p class="col-sm-7">
                    {{request.title}}
                </p>
            </div>

            <!-- Research Question -->
            <div class="row">
                <label class="control-label col-sm-3">{{ ' Research Question' | translate }}</label>
                <div class="col-sm-7">
                    {{request.researchQuestion}}
                </div>
            </div>

            <!-- Hypothesis -->
            <div class="row">
                <label class="control-label col-sm-3">{{ 'Hypothesis' | translate }}</label>
                <div class="col-sm-7">
                    {{request.hypothesis}}
                </div>
            </div>

            <!-- Methods -->
            <div class="row">
                <label class="control-label col-sm-3">{{ 'Methods' | translate }}</label>
                <div class="col-sm-7">
                    {{request.methods}}
                </div>
            </div>

            <!-- Request Type -->
            <div class="row">
                <label class="control-label col-sm-3">{{ 'Request Type' | translate }}</label>
                <div class="col-sm-7" ng-init="">
                    {{"Request_Type_" + request.type | translate}}
                </div>
            </div>

<!--
            <div class="row">
                <label class="control-label col-sm-3">
                    &nbsp;
                </label>

                <div class="col-sm-7">
                    <span><i class="glyphicon {{request.statisticsRequest ? 'glyphicon-check' : 'glyphicon-unchecked'}}"></i></span>
                    &nbsp; {{ 'Request for statistic.' |
                    translate }}
                </div>
            </div>

            <div class="row">
                <label class="control-label col-sm-3">
                    &nbsp;
                </label>

                <div class="col-sm-7">
                    <span><i class="glyphicon {{request.excerptsRequest ? 'glyphicon-check' : 'glyphicon-unchecked'}}"></i></span>
                    &nbsp; {{ 'Request for Palga excerpts.' |
                    translate }}
                </div>
            </div>


            <div class="row">
                <label class="control-label col-sm-3">
                    &nbsp;
                </label>

                <div class="col-sm-7">
                    <span><i class="glyphicon {{request.paReportRequest ? 'glyphicon-check' : 'glyphicon-unchecked'}}"></i></span>
                    &nbsp; {{ 'Request for PA reports (intermediate procedure).' |
                    translate }}
                </div>
            </div>


            <div class="row">
                <label class="control-label col-sm-3">
                    &nbsp;
                </label>
                <div class="col-sm-7">
                    <span><i class="glyphicon {{request.materialsRequest ? 'glyphicon-check' : 'glyphicon-unchecked'}}"></i></span>
                    &nbsp; {{ 'Request for samples (ffpe/coupus) (intermediate procedure).' |
                    translate }}
                </div>
            </div>

            <div class="row" ng-show="request.materialsRequest">
                <label class="control-label col-sm-3">
                    &nbsp;
                </label>
                <div class="col-sm-7">
                    <label class="control-label">
                        <span><i class="glyphicon glyphicon-calendar"></i></span>
                        &nbsp; {{'Return date'|translate}}:
                    </label>
                    {{request.returnDate | date: 'EEE dd MMMM yyyy'}}
                    <br>
                </div>
            </div>
-->


            <!-- Data Linkage -->
            <div class="row" ng-show="request.type != '1'">
                <label class="control-label col-sm-3">
                    &nbsp;
                </label>

                <div class="col-sm-7">
                    <span><i class="glyphicon {{request.linkageWithPersonalData ? 'glyphicon-check' : 'glyphicon-unchecked'}}"></i></span>
                    &nbsp; {{ 'The request is linkage with personal data.' |
                    translate }}
                </div>
            </div>

            <!-- Informed Consent -->
            <div class="row" ng-show="request.type != '1'">
                <label class="control-label col-sm-3">
                    &nbsp;
                </label>

                <div class="col-sm-7">
                    <span><i class="glyphicon {{request.informedConsent ? 'glyphicon-check' : 'glyphicon-unchecked'}}"></i></span>
                    &nbsp; {{ 'Informed Consent.' |
                    translate }}
                </div>
            </div>

            <!-- Reason Using Personal Data -->
            <div class="row" ng-show="request.type != '1'">
                <label class="control-label col-sm-3">{{ 'Reason using personal data' | translate }}</label>
                <div class="col-sm-7">
                    {{request.reasonUsingPersonalData}}
                </div>
            </div>

            <!-- Lab -->
            <div class="row" ng-if="request.status=='Review' && roles.indexOf('palga') != -1 && request.lab.number">
                <br>
                <label class="control-label col-sm-3">
                   {{'Lab' | translate}}
                </label>

                <div class="col-sm-7">
                    {{request.lab.number}} {{request.lab.name}}
                </div>
            </div>
            <div class="row" ng-if="request.status=='Review' && roles.indexOf('palga') != -1">
                <label class="control-label col-sm-3">
                    &nbsp;
                </label>
                <div class="col-sm-7">
                    <span><i class="glyphicon {{request.requesterLabValid ? 'glyphicon-check' : 'glyphicon-unchecked'}}"></i></span>
                    &nbsp; {{ 'The requester has been confirmed that he/she is associated with the lab.' | translate }}
                </div>
            </div>

            <br>

            <h4>{{ 'Attachments' | translate }}</h4>
            <hr>

            <div ng-show="request.attachments.length < 1"><p><i>{{'No attachment found.' | translate}}</i></p></div>

            <ul class="list-group" id="attachments">
                <li class="list-group-item" ng-repeat="file in request.attachments">
                    <label><a ng-href="/requests/{{request.processInstanceId}}/files/{{file.id}}">{{file.name}}</a></label>
                </li>
            </ul>


            <div ng-if="request.status=='Review' && roles.indexOf('palga') != -1">
                <br>

                <h4>{{'Checks by Palga'|translate}}</h4>
                <hr>

                <!-- Requester valid -->
                <div class="row">
                    <label class="control-label col-sm-3">
                        &nbsp;
                    </label>
                    <div class="col-sm-7">
                        <span><i class="glyphicon {{request.requesterValid ? 'glyphicon-check' : 'glyphicon-unchecked'}}"></i></span>
                        &nbsp; {{ 'The requester has been checked and is valid.' | translate }}
                    </div>
                </div>

                <!-- Requester allowed -->
                <div class="row">
                    <label class="control-label col-sm-3">
                        &nbsp;
                    </label>
                    <div class="col-sm-7">
                        <span><i class="glyphicon {{request.requesterAllowed ? 'glyphicon-check' : 'glyphicon-unchecked'}}"></i></span>
                        &nbsp; {{ 'The requester is allowed to file the request.' | translate }}
                    </div>
                </div>

                <!-- Contact person allowed -->
                <div class="row">
                    <label class="control-label col-sm-3">
                        &nbsp;
                    </label>
                    <div class="col-sm-7">
                        <span><i class="glyphicon {{request.contactPersonAllowed ? 'glyphicon-check' : 'glyphicon-unchecked'}}"></i></span>
                        &nbsp; {{ 'The contact person been checked and is authorised to support the request.' | translate }}
                    </div>
                </div>

                <!--*****************-->
                <!--Privacy Committee-->
                <!--*****************-->
                <br>

                <h4>{{'Checks by Privacy Committee'|translate}}</h4>
                <hr>

                <!-- Is this request has been sent to Privacy Committee -->
                <div class="row">
                    <label class="control-label col-sm-3">
                        &nbsp;
                    </label>
                    <div class="col-sm-7">
                        <span><i class="glyphicon {{request.sentToPrivacyComm ? 'glyphicon-check' : 'glyphicon-unchecked'}}"></i></span>
                        &nbsp; {{ 'This request has been sent to Privacy Committee to be checked.' | translate }}
                    </div>
                </div>

                <!-- Outcome -->
                <div class="row">
                    <label class="control-label col-sm-3">{{ 'Outcome' | translate }}</label>
                    <div class="col-sm-7">
                        {{request.privacyCommitteeOutcome}}
                    </div>
                </div>

                <!-- Outcome Reference -->
                <div class="row">
                    <label class="control-label col-sm-3">{{ 'Outcome Reference' | translate }}</label>
                    <div class="col-sm-7">
                        {{request.privacyCommitteeOutcomeRef}}
                    </div>
                </div>

                <!-- Outcome Emails -->
                <div class="row">
                    <label class="control-label col-sm-3">{{ 'Emailing History' | translate }}</label>
                    <div class="col-sm-7">
                        {{request.privacyCommitteeEmails}}
                    </div>
                </div>

                <br>

                <h4>{{'Signed Agreement'|translate}}</h4>
                <hr>

                <!-- Agreement reached -->
                <div class="row">
                    <label class="control-label col-sm-3">
                        &nbsp;
                    </label>
                    <div class="col-sm-7">
                        <span><i class="glyphicon {{request.agreementReached ? 'glyphicon-check' : 'glyphicon-unchecked'}}"></i></span>
                        &nbsp; {{ 'Agreement has been reached.' | translate }}
                    </div>
                </div>

                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="file in request.agreementAttachments">
                        <label><a ng-href="/requests/{{request.processInstanceId}}/files/{{file.id}}">{{file.name}}</a></label>
                    </li>
                </ul>

                <br>

                <!--###################################-->
                <!-- START COMMENTS-->
                <!--TODO: Refactor-->
                <!--###################################-->

                <h4>
                    <a data-toggle="collapse">
                        {{request.comments.length}} {{'Comments'|translate}}
                    </a>

                </h4>
                <hr>

                <div>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="comment in request.comments">
                            <p><div ng-show="!comment_edit_visibility[comment.id]">{{comment.contents}}</div>
                            <div ng-show="comment_edit_visibility[comment.id]">
                                   <textarea id="editCommentText" name="editCommentText" placeholder="{{'Add comment'|translate}}"
                                             ng-model="comment.contents">
                                   </textarea>
                                <button class="btn btn-default" type="button" title="{{'Update comment'|translate}}"
                                        ng-click="updateComment(request, comment)">
                                    {{'Update comment'|translate}}
                                </button>
                            </div>
                                <span class="pull-right">
                                    <span class="btn-group btn-group-xs">
                                        <button class="btn btn-info" type="button" title="Edit"
                                                ng-click="comment_edit_visibility[comment.id] = 1">
                                            <span><i class="glyphicon glyphicon-pencil"></i></span>
                                        </button>
                                        <button class="btn btn-danger" type="button" title="Delete"
                                                ng-click="removeComment(comment)">
                                            <span><i class="glyphicon glyphicon-remove-circle"></i></span>
                                        </button>
                                    </span>
                                </span>
                            </p>
                            <p>
                                <small>
                                    <span><i class="glyphicon glyphicon-user"></i></span>
                                    <em>{{getName(comment.creator)}}</em>
                                    &nbsp;
                                    <span><i class="glyphicon glyphicon-time"></i></span>
                                    <span>{{comment.timeCreated | date: 'EEE dd MMMM yyyy  HH:mm'}}</span>
                                    <span ng-if="comment.timeEdited != comment.timeCreated">(Last edited: {{comment.timeEdited | date: 'EEE dd MMMM yyyy  HH:mm'}})</span>
                                </small>
                            </p>
                        </li>
                    </ul>
                </div>

                <!-- Add comment -->
                <input type="hidden" ng-model="edit_comment.processInstanceId" value="{{request.processInstanceId}}">
                <textarea class="form-control" id="commentText" name="commentText" placeholder="{{'Add comment'|translate}}"
                          ng-model="edit_comment.contents">
                </textarea>
                <br>
                <button class="btn btn-default" type="button" title="{{'Add comment'|translate}}"
                        ng-click="addComment(request, edit_comment)"
                        ng-if="!edit_comment.id">
                    {{'Add comment'|translate}}
                </button>
                <button class="btn btn-default" type="button" title="{{'Update comment'|translate}}"
                        ng-click="updateComment(request, edit_comment)"
                        ng-if="edit_comment.id">
                    {{'Update comment'|translate}}
                </button>

                <!-- END COMMENTS-->

            </div>

        </div>

    </div> <!--end row-->
</div>
<br>
<br>
