  <!-- If the request is not a statistics request (but also requires uploading an excerpt list) -->
  <div ng-if="!request.statisticsRequest && 
        (isPalga()
         || isRequester()
        )">

    <h3>{{'Excerpt List'|translate}}</h3>
    <hr>
    
    <div ng-if="request.excerptList">
        <a class="btn btn-default" ng-href="/requests/{{request.processInstanceId}}/excerptList/csv" 
            id="attached-excerpt-list-1">
        <i class="glyphicon glyphicon-download-alt"></i>
        {{'Download'|translate}} excerpts_{{request.processInstanceId}}.csv
        <span class="badge">{{request.excerptList.entries.length}}</span>
        </a>
    
    
        <br>
        <br>
    </div>
    <div ng-if="!request.excerptList">
        <em>{{'No excerpt list.'|translate}}</em>
        <br>
        <br>
    </div>
    

    <div ng-if="request.status == 'DataDelivery' && isPalga()">
        <div flow-init="flow_options({target:'/requests/'+request.processInstanceId+'/excerptList'})"
             flow-name="excerptListFlow"
             flow-files-submitted="excerptlist_upload_error = ''; fileupload_result = ''; $flow.upload()"
             flow-file-success="fileuploadsuccess(request, $message, true, $flow)"
             flow-file-error="fileuploaderror($message, true)"
             >
            <div class="alert alert-success" role="alert" ng-show="excerptlist_upload_result == 'success'">
                {{ 'Excerpt list uploaded.' | translate }}
            </div>
            <div class="alert alert-danger" role="alert" ng-show="excerptlist_upload_result == 'error'">
                {{ excerptlist_upload_error | translate }}
            </div>

            <div>
                <input type="file" flow-btn id="test-upload-excerpt-list" style="display:none" />
                          <span class="btn btn-primary" flow-btn
                                ng-disabled="request.assignee != globals.currentUser.userid"
                                  >{{'Upload excerpt list'|translate}}</span>
            </div>
            <br>
            <div class="alert" flow-drop style="border: 2px dashed gray; text-align: center"
                 flow-drag-enter="style={border:'4px dashed lightgreen'}"
                 flow-drag-leave="style={border: '2px dashed gray'}"
                 ng-style="style"
                 ng-hide="request.assignee != globals.currentUser.userid">
                ({{'drag and drop your file here'|translate}})
            </div>
        </div>
    </div>

    <div ng-if="request.excerptList && request.status == 'DataDelivery'
        && (request.paReportRequest || request.materialsRequest) 
        && isPalga()" 
        ng-controller="SelectionController">
        <a class="btn btn-primary" title="Select all"
            ng-click="selectAllExcerpts(request)"
            ng-disabled="request.assignee != globals.currentUser.userid">
        <i class="glyphicon glyphicon-check"></i>
        {{'Select all excerpts and continue'|translate}}
        </a>
        <br>
        <br>
    </div>

    <div ng-if="isExcerptSelectionState(request.status) 
        && (request.paReportRequest || request.materialsRequest) 
        && request.excerptList"
        ng-controller="SelectionController">

        <h3>{{'Excerpt Selection'|translate}}</h3>
        <hr>

        <div flow-init="flow_options({target:'/requests/'+request.processInstanceId+'/selection/csv'})"
             flow-name="excerptSelectionFlow"
             flow-files-submitted="$scope.excerptselection_upload_error = ''; $scope.fileupload_result = ''; $flow.upload()"
             flow-file-success="fileuploadsuccess(request, $message, true, $flow)"
             flow-file-error="fileuploaderror($message, true)"
             ng-if="isRequester() && request.status=='DataDelivery'"
            >
    
            <div class="alert alert-success" role="alert" ng-show="excerptselection_upload_result == 'success'">
                {{ 'Excerpt selection file is uploaded. (' + lastUploadedFileName + ')'  | translate }}
            </div>
    
            <div class="alert alert-danger" role="alert" ng-show="excerptselection_upload_result == 'error'">
                {{ excerptselection_upload_error | translate }}
            </div>
    
            <a ng-href="/#/request/{{request.processInstanceId}}/selection" id="select-pa-numbers" class="btn btn-primary">
                <i class="glyphicon glyphicon-edit"></i>
                {{'Select PA numbers'|translate}}
            </a>
            <input type="file" flow-btn id="test-upload-excerpt-selection" style="display:none" />
            <span class="btn btn-default" flow-btn>
                <i class="glyphicon glyphicon-import"></i>
                {{'Upload excerpt selection'|translate}}
            </span>
    
            <br>
            <br>
    
            <div class="alert" flow-drop style="border: 2px dashed gray; text-align: center"
                flow-drag-enter="style={border:'4px dashed lightgreen'}"
                flow-drag-leave="style={border: '2px dashed gray'}"
                ng-style="style">
                ({{'drag and drop your file here'|translate}})
            </div>
            
        </div>
    
        <div ng-class="{ 'pull-right' : isRequester() && request.status=='DataDelivery' }">
            <a class="btn btn-default" ng-href="/requests/{{request.processInstanceId}}/selection/csv"
                id="attached-excerpt-list-2">
                <i class="glyphicon glyphicon-download-alt"></i>
                {{'Download selection' |translate }}
                <span class="badge">{{(request.excerptList.entries | filter: {selected: true}).length}}</span>
            </a>
            <span type="button" class="btn btn-primary" title="Submit"
                ng-if="isRequester() && request.status=='DataDelivery'"
                ng-click="submitExcerptSelection(request)">
                {{'Submit selection'|translate}}
            </span>
        </div>
        <div class="clearfix"/>
        <p style="clear: both;"></p>
    </div>

    <div ng-if="request.status == 'SelectionReview' && isPalga()">
        <button type="button" class="btn btn-primary"
                ng-disabled="request.assignee != globals.currentUser.userid"
                ng-click="approveSelection(request)"
          >
          {{'Approve selection'|translate}}
        </button>
        <button type="button" class="btn btn-danger"
                ng-disabled="request.assignee != globals.currentUser.userid"
                ng-click="rejectSelection(request)"
          >
          {{'Reject selection'|translate}}
        </button>
    </div>

  </div>

  <h3>{{request.statisticsRequest?'Data files':'Other data files'|translate}}</h3>
  <hr>

  <ul class="list-group">
    <li class="list-group-item" ng-repeat="file in request.dataAttachments">
      <label><a ng-href="/requests/{{request.processInstanceId}}/files/{{file.id}}">{{file.name}}</a></label>
                        <span class="pull-right">
                        <span class="btn-group">
                            <button class="btn btn-default" type="button" title="Delete"
                                    ng-click="removeDataFile(file)"
                              >
                              Delete
                            </button>
                        </span>
                        </span>
    </li>
  </ul>
  <p ng-if="!request.dataAttachments || request.dataAttachments.length < 1">
    <i>{{'No data files.'|translate}}</i>
  </p>

  <div flow-init="flow_options({target:'/requests/'+request.processInstanceId+'/dataFiles'})"
       flow-name="dataFlow"
       flow-files-submitted="uploadDataFile($flow)"
       flow-file-success="fileuploadsuccess(request, $message, false, $flow)"
       flow-file-error="fileuploaderror($message)"
       ng-if="request.status == 'DataDelivery' && isPalga()"
    >
    <div class="alert alert-success" role="alert" ng-show="fileupload_result == 'success'">
      {{ 'File uploaded.' | translate }}
    </div>
    <div class="alert alert-danger" role="alert" ng-show="fileupload_result == 'error'">
      {{ 'Error uploading file.' | translate }}
    </div>

    <p>
      (<em>{{'Maximum file size 10 MB.'|translate}}</em>)
    </p>
    <div>
                        <span class="btn btn-default" flow-btn
                              ng-disabled="request.assignee != globals.currentUser.userid"
                          >{{'Upload data files'|translate}}</span>
    </div>
    <br>
    <div class="alert" flow-drop style="border: 2px dashed gray; text-align: center"
         flow-drag-enter="style={border:'4px dashed lightgreen'}"
         flow-drag-leave="style={border: '2px dashed gray'}"
         ng-style="style"
         ng-hide="request.assignee != globals.currentUser.userid">
      ({{'drag and drop your file here'|translate}})
    </div>
  </div>

  <div ng-if="request.status != 'Closed'
                && (!request.paReportRequest && !request.materialsRequest)
                && isPalga()">
    <button type="button" class="btn btn-warning"
            ng-disabled="request.assignee != globals.currentUser.userid || dataLoading"
            ng-click="closeRequest(request)"
      >
      {{'Close request'|translate}}
    </button>
  </div>
